#boton
{
    margin-right: 20px;
}

.container-fluid
{
   width:800px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top:20px;
   margin-bottom: 20px;
   color: black;
}

#contenedor
{
    padding:20px;

}

p
{
  text-align: justify;
}