
<div>
	<div class="row container justify-content-center ml-5 mb-5">
		<div class="col-md-4 col-md-offset-4" id="restablece">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Restablcer cuenta</h2>
                  <p>Escribe tu nueva contraseña</p>
                  <div class="panel-body">
    
                    <form role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="contraseña" name="contraseña" placeholder="Nueva contraseña" class="form-control"  type="password">
                        </div>
                        <div class="input-group mt-1">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input id="contraseña" name="contraseña" placeholder="Confirmar contraseña" class="form-control"  type="password">
                          </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Confirmar contraseña" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>    
