<nav class="navbar navbar-expand-lg navbar-light" style = " background-image: url(../../../assets/navbarLibreria.png); background-color: #f09f07">
    <a class="navbar-brand"><img src="assets/logoLibreria.jpg" alt="" style = "width: 100px; height:100px; border-radius: 50%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver carrito</a>
            <a class="dropdown-item" (click)="navegarConfiguracion()">Configuracion</a>
            <a class="dropdown-item" href="#">Soporte</a>
            <div class="dropdown-divider"></div>
            <a href="http://localhost:4200/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
          </div>
        </li>
        
        <li class="nav-item active">
          <a class="nav-link" (click)="navegarInicio();">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navegarLibreria();">Libreria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navegarMusica()" role="button" aria-haspopup="true" aria-expanded="false">
            Musica
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="http://emdpublicidad.com/">Publicidad</a>
        </li>
      </ul>
      
      <form [formGroup]="registroForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="cadena" [(ngModel)]="cadena" formControlName="cadena" placeholder="Escribe aqui para buscar" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit" style = "background-color: #00737d; color:white" (click)="navegarBusqueda();">Buscar</button>
      </form>
      
      <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
        </ng-container>
        <ng-template #elseTemplate>
          <button style="background-color: #00737d; border-color: #00737d;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
          
          <button style="background-color: #00737d; border-color: #00737d;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
        </ng-template>
      
    </div>  
  </nav>
  <div class="container">
  <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <img src="https://pbs.twimg.com/media/EdKDuKuUEAElN-q?format=jpg&name=small" alt="First slide" height="400px">
      </div>
    </div>
  </div>
</div>
  
