
button
{
    margin-right: 20px;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:75vh;
}

#textomas
{
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
