<div id="parallax-imagen">
    <div class="row h-100">
     <div class="col-md-12 align-self-center">
         <h1>Libreria Talamas</h1>
         <button type="button" class="btn btn-outline-light mt-5 ml-5">Romance</button>
         <button type="button" class="btn btn-outline-light mt-5 ml-5">Fantasia</button>
         <button type="button" class="btn btn-outline-light mt-5 ml-5">Infantiles</button>
         <button type="button" class="btn btn-outline-light mt-5 ml-5">Ciencía Ficción</button>
         <button type="button" class="btn btn-outline-light mt-5 ml-5">Varios</button>
         <button type="button" class="btn btn-outline-light mt-5 ml-5">Terror</button>
         <button type="button" class="btn btn-outline-light mt-5 ml-5">Clasicos</button>
    </div>
    </div>
</div>
    <section>
        <div style ="width: 100%; height:5px;background-color: black;"></div>
        <div class="row">
            <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
                <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
                <br>
                <button type="button" class="btn btn-dark mt-2">Comprar</button>
            </div>
            <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
                <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
                <button type="button" class="btn btn-dark mt-2">Comprar</button>
            </div>
            <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
                <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
                <button type="button" class="btn btn-dark mt-2">Comprar</button>
            </div>
          </div>
</section>

<section class="fondo">
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>        
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
      </div>

    

</section>


<section class="fondo2">
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>        
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
      </div>
</section>

<section class="fondo3">
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
      </div>
</section>

<section class="fondo4">
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>

      </div>
</section>

<section class="fondo5">
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
      </div>
</section>

<section class="fondo6">
    <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
        <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4 mt-2 mb-5">
            <img class="imgr mt-5 ml-5" src="https://images-na.ssl-images-amazon.com/images/I/418kfGzE0VL._SX331_BO1,204,203,200_.jpg" style = "width: 250px; height: 300px">
            <button type="button" class="btn btn-dark mt-2">Comprar</button>
        </div>
      </div>
</section>