.container-fluid
{
    background-color: black;
    margin-bottom:0px;
    overflow: hidden;
    
}

h1
{
    margin-top:-50px;
    font-size: 80px;

}

section
{
    background-image: url('../../../assets/fondoRomantico.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}


.fondo
{
    background-image: url('../../../assets/pasto.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
    
}

.fondo2
{
    background-image: url('../../../assets/infantil.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}

.fondo3
{
    background-image: url('../../../assets/ciencia.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}

.fondo4
{
    background-image: url('../../../assets/varios.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}

.fondo5
{
    background-image: url('../../../assets/terror.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}

.fondo6
{
    background-image: url('../../../assets/clasicos.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    overflow: hidden;
}

#b
{
    margin-left:125px;
}

button
{
    margin-right: 20px;
}


.jumbotron
{
  margin-bottom: 0em;
}


  /*Now the styles*/


.accordian {
	width:110%; height: 320px;
    overflow: hidden;
    
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}


.accordian ul {
    width: 1200px;
    margin-left:-50px;
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;

}


.accordian ul:hover li {width: 40px;}
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}


.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
    width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}
  
