#boton
{
    margin-right: 20px;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:75vh;
}

#textomas
{
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.imgr
{
  width: 190px; 
  height: 300px;
}
.imgr:hover
{
  height: 310px;
  width: 200px;
  transition-duration: 1s;
}

