<div class="container" style="color: black;">
  <div class="row">
      <div class="col-md-12">
          <h3 class="text-center">
              SOPORTE
          </h3>
          <p class="text-justify" style="padding-right:50px; padding-left:50px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra felis et justo bibendum ultrices. Nunc et lacus tempus erat sollicitudin laoreet in eget leo. Duis efficitur mauris eros, vel pretium ante ullamcorper eget. Nulla odio metus, pellentesque vel faucibus ut, congue id orci. Fusce lacus erat, egestas vitae est eget, aliquet volutpat odio. In eget arcu eget nunc porta vestibulum. Vestibulum et magna sit amet dui aliquam vestibulum molestie at est.

            Quisque eu maximus enim, et lobortis ipsum. Suspendisse eu suscipit eros. Pellentesque vitae nisi tempus felis pulvinar varius. Mauris magna turpis, aliquet et sagittis sit amet, pharetra eget augue. Quisque rhoncus dignissim massa quis lacinia. Nam id consectetur neque. Etiam malesuada, justo nec faucibus tempor, ante quam mattis urna, eu laoreet orci nibh non nunc. Nulla facilisi. Nulla nec finibus libero. Nullam a mauris massa. Etiam aliquet, est dapibus hendrerit ultrices, purus ex ultrices diam, ac pulvinar risus turpis sed tellus.
            
            Integer venenatis mattis feugiat. Suspendisse vestibulum augue in mi sollicitudin, sit amet vulputate mi tristique. Donec ornare, ex non tincidunt feugiat, ante mi sollicitudin erat, at efficitur lectus risus at purus. Phasellus luctus tempor dolor ac semper. Vivamus semper neque velit, vitae fringilla mauris semper ut. Proin ultricies sapien eget nulla congue congue. Donec consequat, arcu accumsan eleifend luctus, ligula ipsum dictum nisi, at sagittis orci tellus at elit. Pellentesque orci velit, tincidunt eget sollicitudin ac, pulvinar nec nunc. Vivamus arcu odio, suscipit id ullamcorper eu, auctor nec eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget porttitor mauris, vitae finibus mi. Aliquam nec purus sit amet massa pretium eleifend. Proin vel rhoncus augue. Nullam convallis velit vitae laoreet faucibus.
          </p>
          <h2><p class="text-justify" style="padding-right:50px; padding-left:50px;"></p></h2>
          <p class="text-justify" style="padding-right:50px; padding-left:50px;"></p>
          <img class="d-block mx-auto" src="assets/bolsa.png" width="100px" height="100px">
      </div>
  </div>
</div>
