<div>
    <strong><h3>Cambiar contraseña</h3></strong>
    <form>
      <label class="mt-2">Antigua contraseña:</label>
      <input class="form-control" [formControl]="antiguaContrasena" placeholder="Antigua contraseña" type="password">
  
      <label class="mt-2" for="contraseña">Nueva contraseña:</label>
      <input id="contraseña" [formControl]="nuevaContrasena" class="form-control" placeholder="Nueva contraseña" type="password">
  
      <label class="mt-2" for="contraseña2">Repetir contraseña:</label>
      <input id="contraseña2" class="form-control" [formControl]="repiteContrasena" placeholder="Repetir nueva contraseña" type="password">
      <button class="btn btn-primary" (click)="cambiarContrasena()"></button>
    </form>
  
  </div>
