<div>
    <strong><h5>Cambiar contraseña</h5></strong>
    <form>
      <input class="form-control" placeholder="Antigua contraseña" type="password">
  
      <label class="mt-2" for="contraseña">Nueva contraseña:</label>
      <input id="contraseña" class="form-control" placeholder="Nueva contraseña" type="password">
  
      <label class="mt-2" for="contraseña">Repetir contraseña:</label>
      <input id="contraseña" class="form-control" placeholder="Repetir nueva contraseña" type="password">
  
    </form>
  
  </div>
