<div class="row" id="contatti">
    <div class="container mt-5" >
    
        <div class="row" style="height:550px; color: black;">
          <div class="col-md-6 maps" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14158.08575160414!2d-99.5074895!3d27.4841544!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xadb38b492127f070!2sTalamas!5e0!3m2!1ses-419!2smx!4v1600380583073!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <div class="col-md-6">
            <h2 class="text-uppercase mt-3 font-weight-bold">CONTACTANOS</h2>
            <form action="">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mt-2" id="Nombre" name="Nombre" [(ngModel)]="Nombre" placeholder="Nombre" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mt-2" id="Apellido" name="Apellido" [(ngModel)]="Apellido" placeholder="Apellido" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control mt-2" name="Correo"  id="Correo"[(ngModel)]="Correo" placeholder="Correo" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="number" class="form-control mt-2" id="Telefono" name="Telefono"[(ngModel)]="Telefono" placeholder="Telefono" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control" id="coment" name="coment"[(ngModel)]="coment" placeholder="Comentarios" rows="3" required></textarea>
                  </div>
                </div>
                <div class="col-12">
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" (click)="enviar()" type="submit">Enviar</button>
                </div>
              </div>
            </form>
            <div class="text-white">
            <h2 class="text-uppercase mt-4 font-weight-bold" style="color: black;">O CONTACTENOS POR:</h2>
    
            <i class="fas fa-phone mt-3"></i> <a href="tel:+">8673076039</a><br>
            <i class="fa fa-envelope mt-3"></i> <a href="">AtencionCliente@tiendatalamas.com</a><br>
            <div class="my-4">
            </div>
          </div>
    
        </div>
    </div>
    </div>
    