<form [formGroup]="ventaForm">
  <div class="form-group">
    <label>Nombre:</label>
    <input type="text" class="form-control" [(ngModel)]="nombre" formControlName="nombre" placeholder="Nombre" type="text" >
  </div>
  <div class="form-group">
    <label>Apellido:</label>
    <input type="text" class="form-control" [(ngModel)]="apellido" formControlName="apellido" placeholder="Apellido" type="text" >
  </div>

  <div class="form-group">
    <label>Numero de celular:</label>
    <input class="form-control" [(ngModel)]="numeroCelular" formControlName="numeroCelular" placeholder="Ej:+52123456789" type="text" > 
  </div>

  <div class="form-group">
    <label>Correo:</label>
    <input type="email" class="form-control" [(ngModel)]="email" formControlName="email" placeholder="Correo" type="email" > 
  </div>

  <div class="form-group">
    <label>Calle 1:</label>
    <input type="email" class="form-control" [(ngModel)]="calle1" formControlName="calle1" placeholder="Calle 1" type="text" >
  </div>

  <div class="form-group">
    <label>Calle 2:</label>
    <input type="email" class="form-control" [(ngModel)]="calle2" formControlName="calle2" placeholder="Calle 2" type="text" >
  </div>

  <div class="form-group">
    <label>Calle 3:</label>
    <input type="email" class="form-control" [(ngModel)]="calle3" formControlName="calle3" placeholder="Calle 3" type="text">
  </div>
  <div class="form-group">
    <label>Numero exterior:</label>
    <input type="email" class="form-control" [(ngModel)]="NumeroExterior" formControlName="NumeroExterior" placeholder="Numero Exterior" type="text" >
  </div>
  <div class="form-group">
    <label>Codigo postal:</label>
    <input type="email" class="form-control" [(ngModel)]="CodigoPostal" formControlName="CodigoPostal" placeholder="Codigo Postal" type="text" >
  </div>
  <div class="form-group">
    <label>Ciudad:</label>
    <input type="email" class="form-control"[(ngModel)]="ciudad" formControlName="ciudad" placeholder="Ciudad" type="text" >
  </div>
  


 

  
  <button class="btn btn-default" (click)="continuarDatosBancarios()">Enviar</button>
</form>
