<h1 class="mt-5">Detalles del Pedido</h1>
<h5>Fecha a poner</h5><span><h5>Numero de pedido</h5></span>
<div class="row">
    <hr style="width:97%;">
<div class="col-xs-12 col-sm-12 col-lg-3">    
      <div>
          <strong><p style="font-size:medium;">Direccion de Envio</p></strong>
      </div>
      <div>
          Nombre de la persona
      </div>
      <div>
          Calle
      </div>
      <div>
          Colonia
      </div>
      <div>
          Ciudad, Estado, num postal
      </div>
    </div>    
<div class=" col-xs-12 col-sm-12 col-lg-5">
    <div>
       <strong><p style="font-size: medium;">Metodo de Pago</p></strong>
     </div>
     <div>
       Tarjeta usuario
     </div>
</div>
<div class=" col-xs-12 col-sm-12 col-lg-3">
    <div>
       <strong><p style="font-size: medium;">Resumen del Pedido </p></strong>
     </div>
     <div>
       Productos:
     </div>
     <div>
        Envio:
      </div>
      <div>
        Subtotal:
      </div>
      <div>
        Descuento Aplicado:
      </div>
</div>
<div class="col-xs-12 col-sm-12 col-lg-1">
    <div>
        <strong><p style="font-size: medium;">Precios </p></strong>
     </div>
     <div>
       $Precio
     </div>
     <div>
        $Precio
      </div>
      <div>
        $Precio
      </div>
      <div>
        $Precio
      </div>
</div>
</div>
<hr style="width:100%;">

<h1 class="ml-2">Fecha de entrega</h1>
<div class="row">
    <hr style="width: 97%;">
    <div class="col-sm-12 col-lg-3">
      <img class="img-fluid" src="https://pm1.narvii.com/6357/91159749950690fdc8823a636c1fc81219ba8ffb_hq.jpg">
    </div>
    <div class="col-sm-12 col-lg-5">
        <div>
            <h3>Nombre Producto</h3>
        </div>
        <div>
            informacion de producto
        </div>
        <div>
            informcion de prodcuto
        </div>
        <div>
            informacion de producto
        </div>
    </div>
    <div class="col-sm-12 col-lg-4">
        <button class="btn btn mt-1" style="width: 100%;">Ver Producto</button>
        <button class="btn btn mt-1" style="width: 100%;">Volver Inicio</button>
        </div>
</div>
