<h1 class="mt-5">Detalles del Pedido</h1>
<div *ngFor="let pedido of arrayPedido">
<h5>Fecha de compra: {{pedido.FechaPago}}</h5><span><h5>Numero de pedido: {{pedido.IdPedido}}</h5></span><span><h5>Entrega aproximada: {{pedido.Entrega}}</h5></span><span><h5>Estado del pedido: {{pedido.Estado}}</h5></span>
<div class="row">
    <hr style="width:97%;">
<div class="col-xs-12 col-sm-12 col-lg-3">    
      <div>
          <strong><p style="font-size:medium;">Direccion de Envio</p></strong>
      </div>
      {{pedido.Direccion}}
    </div>    
<div class=" col-xs-12 col-sm-12 col-lg-5">
    <div>
       <strong><p style="font-size: medium;">Metodo de Pago</p></strong>
     </div>
     <div>
      <p [innerHTML]="pedido.MetodoDePago"></p>
     </div>
</div>
<div class=" col-xs-12 col-sm-12 col-lg-3">
    <div>
       <strong><p style="font-size: medium;">Resumen del Pedido </p></strong>
     </div>
     <div>
       Productos: ${{pedido.Subtotal}}

     </div>
     <div>
        Envio: ${{pedido.Envio}}

      </div>
      <div>
        Total: ${{pedido.Total}}

      </div>
</div>

</div>
</div>
<div class="row" *ngFor="let producto of arrayProductos">
    <hr style="width: 97%;">
    <div class="col-sm-12 col-lg-3">
      <img class="img-fluid" fallimg src="{{producto.Imagen}}" width="100%" style="max-width: 75%;">
    </div>
    <div class="col-sm-12 col-lg-5">
        <div>
            <h3>{{producto.NombreProducto}}</h3>
        </div>
        <div>
          Precio Individual:{{producto.Precio}}
      </div>
      <div>
        Cantidad:{{producto.Cantidad}}
    </div>
        <div>
            Subtotal: {{producto.PrecioTotal}}
        </div>

    </div>
    <div class="col-sm-12 col-lg-4">
        <button class="btn btn mt-1" style="width: 100%;" (click)="masInformacion(producto.IdProducto,producto.Categoria)">Ver Producto</button>
        </div>
</div>
