.container .row{
    margin-top: 7%;
    margin-bottom: 10%;
}
.container .row .col-md-12{
    background: #f5f5f5;
    margin-right: -2%;
    padding: 5%;
}
.container h3{
    color: black;
}
.container p{
    margin-top: 10%;
    color: #6d6d6d;
}
