<div class="container" style="color: black;">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                MISIÓN
            </h3>
            <p class="text-justify" style="padding-right:50px; padding-left:50px;">
                Que nuestra empresa contribuya a la difusión de la cultura y entretenimiento creando experiencias para el encuentro con el conocimiento, y mejorar la calidad del servicio al cliente.
            </p>
            <img class="d-block mx-auto" src="assets/bolsa.png" width="100px" height="100px">
        </div>
    </div>
</div>
