
<div id="tarjeta" class="container-fluid mt-5">
<form action="/charge" method="post" id="payment-form">
    <div class="form-row">
      <label for="card-element">Tarjeta de Credito o Debito</label>
      <div id="card-element"></div>
      <div id="card-errors" role="alert"></div>
    </div>

    <div class="form-row">
    <label for="nombre">Nombre del titular</label>
    </div>
  
    <div class="form-row">
      <div class="col-sm-12 col-lg-6 mt-1">
        <input name="nombre" class="form-control" [(ngModel)]="nombre" id="nombre" placeholder="Nombre(s)">
      </div>
      <div class="col-sm-12 col-lg-6 mt-1">
        <input name="apellido" class="form-control" id="apellido" [(ngModel)]="apellido"   placeholder="Apellido(s)">
       </div>
      </div>
    <button class="btn btn mt-2" [disabled]="isDisabled" >{{button}}</button>
  </form>
</div>

<div class="row">
<div class="col-sm-12 col-lg-6">
<div class="container mt-5" id="tarjetas">
<strong>ENVIAR A:</strong>
<div>{{_servicioCompartido.Nombre}}</div>
<div>{{_servicioCompartido.Calle}} y #{{_servicioCompartido.NumeroExt}}</div>
<div>{{_servicioCompartido.Ciudad}}, {{_servicioCompartido.Estado}}, #{{_servicioCompartido.CodigoPost}}</div>
</div>
</div>
<div class="col-sm-12 col-lg-6">
<div class="container mt-5" id="tarjetas">
  <div><strong>Subtotal:{{Subtotal |  number:'1.2-2'}}</strong></div>
  <div><strong>Envio:{{Envio |  number:'1.2-2'}}</strong></div>
  <div><strong>Total:{{Total |  number:'1.2-2'}}</strong></div>
  <br>
  </div>
</div>
</div>