<!--AQUI EMPIEZA EL FORMULARIO <form [formGroup]="formData" id="formData">
    <h3><p>INTRODUCIR DIRECCION PARA ENVIOS</p></h3>
    <div class="form-group">
      <label>Calle 1:</label>
      <br>
      <br>
      <input type="email"name="calle1" id="calle1" [(ngModel)]="calle1" formControlName="calle1" class="form-control"  placeholder="Calle 1" type="text" >
    </div>
      <br>
      <br>
    <div class="form-group">
      <label>Calle 2:</label>
      <br>
      <br>
      <input type="email" class="form-control" [(ngModel)]="calle2" formControlName="calle2" name="calle2" id="calle2" placeholder="Calle 2" type="text" >
    </div>
      <br>
      <br>
    <div class="form-group">
      <label>Calle 3:</label>
      <br>
      <br>
      <input type="email"name="calle3" id="calle3" [(ngModel)]="calle3" formControlName="calle3" class="form-control"  placeholder="Calle 3(opcional)" type="text">
    </div>
    <br>
    <br>
    <div class="form-group">
      <label>Colonia:</label>
      <br>
      <br>
      <input type="email"name="colonia" id="colonia" [(ngModel)]="colonia" formControlName="colonia" class="form-control"  placeholder="Colonia" type="text">
    </div>
    <br>
    <br>
    <div class="form-group">
      <label>Numero exterior:</label>
      <br>
      <br>
      <input type="email"name="numExt" id="numExt" [(ngModel)]="numExt" formControlName="numExt" class="form-control"  placeholder="Numero Exterior" type="text" >
    </div>
    <br>
    <br>
    <div class="form-group">
      <label>Numero interior:</label>
      <br>
      <br>
      <input type="email"name="numInterior" id="numInterior" [(ngModel)]="numInterior" formControlName="numInterior" class="form-control"  placeholder="Numero Interior" type="text" >
    </div>
    <br>
    <br>
    <div class="form-group">
      <label>Codigo postal:</label>
      <br>
      <br>
      <input type="email" name="codigoPost" id="codigoPost" [(ngModel)]="codigoPost" formControlName="codigoPost" class="form-control"  placeholder="Codigo Postal" type="text" >
    </div>
    <br>
    <br>
    <div class="form-group">
      <label>Estado:</label>
      <br>
      <br>
      <input type="email" name="estado" id="estado" [(ngModel)]="estado" class="form-control" formControlName="estado" placeholder="Estado" type="text" >
    </div>
    <br>
    <br>
    <div class="form-group">
      <label>Ciudad:</label>
      <br>
      <br>
      <input type="email" name="ciudad" id="ciudad" class="form-control" [(ngModel)]="ciudad" formControlName="ciudad" placeholder="Ciudad" type="text" >
    </div>
    <br>
    <br>
    <label>Escribenos tus gustos para futuros regalos, te queremos sorprender:</label>
    <textarea [(ngModel)]="gustos" placeholder="Ejemplo: Me gustan las cosas de color rojo" name="gustos" formControlName="gustos" id="gustos" type="text" class="txt_3 mb-2"></textarea>
    <br>
    <br>
    <input style="background-color:#ffca00; font-size:20px; color:white;" type="submit" (click)="registrar()" name="registrar" id="registrar">
 </form>-->
 <div class="container text-center" style="background-color:#f6f6f6; padding: 10px; border-radius: 50px;">DATOS DE ENVIO</div>
<div class="row">
  <div class="col-12">
    <input id="login" class="form-control ml-2 mt-4" [(ngModel)]="colonia"  name="login" placeholder="Colonia" style=" border-radius:50px; width:100%;">
  </div>
</div>
<div class="row">
  <div class="col-6">
  <input id="login" class="form-control ml-2 mt-4" name="login"  [(ngModel)]="calle1" placeholder="Calle" style=" border-radius:50px; width:100%;">
  </div>
  <div class="col-3">
    <input id="login" class="form-control ml-2 mt-4" name="login" [(ngModel)]="numExt" placeholder="Numero Ext." style=" border-radius:50px; width:100%;">
    </div>
    <div class="col-3">
      <input id="login" class="form-control ml-2 mt-4" name="login" [(ngModel)]="numInterior" placeholder="Numero Int." style=" border-radius:50px; width:100%;">
      </div>
</div>
<div class="row">
  <div class="col-6">
  <input id="login" class="form-control ml-2 mt-4" name="login" [(ngModel)]="calle2" placeholder="Entre calle" style=" border-radius:50px; width:100%;">
  </div>
  <div class="col-6">
    <input id="login" class="form-control ml-2 mt-4" name="login" [(ngModel)]="calle3" placeholder="Y calle" style=" border-radius:50px; width:100%;">
  </div>
</div>

<div class="row">
<div class="col-4">
  <div class="input-group ml-2 mt-4"   style=" border-radius:50px; width:100%;">
    <select class="custom-select" [(ngModel)]="estado" id="inputGroupSelect01">
      <option value="DIF">Distrito Federal</option>
      <option value="AGS">Aguascalientes</option>
      <option value="BCN">Baja California</option>
      <option value="BCS">Baja California Sur</option>
      <option value="CAM">Campeche</option>
      <option value="CHP">Chiapas</option>
      <option value="CHI">Chihuahua</option>
      <option value="COA">Coahuila</option>
      <option value="COL">Colima</option>
      <option value="DUR">Durango</option>
      <option value="GTO">Guanajuato</option>
      <option value="GRO">Guerrero</option>
      <option value="HGO">Hidalgo</option>
      <option value="JAL">Jalisco</option>
      <option value="MEX">M&eacute;xico</option>
      <option value="MIC">Michoac&aacute;n</option>
      <option value="MOR">Morelos</option>
      <option value="NAY">Nayarit</option>
      <option value="NLE">Nuevo Le&oacute;n</option>
      <option value="OAX">Oaxaca</option>
      <option value="PUE">Puebla</option>
      <option value="QRO">Quer&eacute;taro</option>
      <option value="ROO">Quintana Roo</option>
      <option value="SLP">San Luis Potos&iacute;</option>
      <option value="SIN">Sinaloa</option>
      <option value="SON">Sonora</option>
      <option value="TAB">Tabasco</option>
      <option value="TAM">Tamaulipas</option>
      <option value="TLX">Tlaxcala</option>
      <option value="VER">Veracruz</option>
      <option value="YUC">Yucat&aacute;n</option>
      <option value="ZAC">Zacatecas</option>
    </select>
  </div>
</div>
<div class="col-4">
  <input class="form-control ml-2 mt-4" [(ngModel)]="ciudad" style="width: 100%;" id="nombre" type="text" placeholder="Ciudad">
</div>
<div class="col-4">
  <input class="form-control ml-2 mt-4" [(ngModel)]="codigoPost" style="width: 100%;" id="nombre" type="text" placeholder="Codigo Postal">
</div>
</div>
<div class="row mt-4">
  <div class="col-6">
    <img style="display: block; margin-left: auto; margin-right: auto;" (click)="registrar()" src="assets/GUARDAR.png" width="150px">
  </div>
  <div class="col-6">
    <img style="display: block; margin-left: auto; margin-right: auto;" (click)="omitir()" src="assets/OMITIR.png" width="150px">
  </div>
 </div>



  
