<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #ff9234" >
  <a class="navbar-brand"><img src="assets/talamas.png" alt="" style = "width: 100px; height:100px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
        <a class="nav-link dropdown-toggle" style="color:white; border-color: #0779e4;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="navegarHistorial()">Historial de Compras</a>
          <a class="dropdown-item" (click)="navegarConfiguracion()">Configuracion</a>
          <a class="dropdown-item" href="#">Soporte</a>
          <div class="dropdown-divider"></div>
          <a href="http://localhost:4200/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
        </div>
      </li>

      <li class="nav-item active">
        <button type="button" class="btn btn-danger" style="color: white; border-color:#ff9234; background-color:#ff9234;" (click)="navegarInicio();">Inicio</button>
      </li>
      <li class="nav-item dropdown">
          <button type="button" class="btn btn-danger" style="color: white; border-color:#ff9234; background-color:#ff9234;" (click)="navegarLibreria();">Libreria</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" style="color: white; border-color:#ff9234; background-color:#ff9234;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="sr-only">Toggle Dropdown</span>
           </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
             </div>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-danger" style="color: white; border-color:#ff9234; background-color:#ff9234;" (click)="navegarMusica()">Musica</button>
      </li>
  </ul>

    <form [formGroup]="registroForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="cadena" [(ngModel)]="cadena" formControlName="cadena" placeholder="Escribe aqui para buscar" aria-label="Search">
      <button id="botones" class="btn my-2 my-sm-0" type="submit" style = "background-color: #0779e4; color:white" (click)="navegarBusqueda();">Buscar</button>
    </form>
    
   <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
    </ng-container>
    <ng-template #elseTemplate>
      <button id="botones" style="background-color: #0779e4; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
      
      <button id="botones" style="background-color: #0779e4; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
    </ng-template>    


    
</div>  
</nav>



  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <div class="logo">
                <img src="{{Logo}}" style="height: 100px; width: 100px; margin-left: 30px;" class="img-responsive center-block" alt="Logo">
            </div>
            <hr color="white"/>
            <div class="left-navigation">
                <ul class="list ml-0">
                    <h5><strong>{{Categoria}}</strong></h5>
                    <li *ngFor = "let Sub of articulosArray_Sub; let i = index" (click)="navegarCategoria(Sub.categoria, Sub.SubCategoria)">{{Sub.SubCategoria}}
                    </li>

                </ul>

                <hr color="white"/>

                <ul class="list">
                    <h5><strong>Mas</strong></h5>
                    <li (click)="navegarCategoria('Libros','')">Libros</li>
                    <li (click)="navegarCategoria('Instrumentos', '')">Musica</li>
                    <li (click)="navegarCategoria('EMD', '')">Emd</li>

                </ul>
            </div>
        </div>

        <div class="col-md-10 col-sm-8 main-content">
          <section class="details-card">
            <div class="container-fluid mt-2 " style="background-color:#fff;">
                <div class="row ">
                    <div class="col-md-4 mb-2 mt-3" *ngFor = "let articulo of articulosArray; let i = index">
                        <div class="card-content">
                            <div class="card-img">
                                <img id="producto" class="mt-3" src="{{articulo.Imagen}}" alt="">
                                <span class="ml-2"><h4>{{Categoria}}</h4></span>
                            </div>
                            <div class="card-desc" >
                                <h3 style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis;">{{articulo.NombreProducto}}</h3>
                                <hr/>
                                  <p>{{articulo.Precio}}</p>
                                    <a (click) = "masInformacion(articulo.IdProducto)" class="btn-card">Comprar</a>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        
      
    </div>
</div>
</div>







