
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <div class="logo">
                <img src="{{Logo}}" style="height: 100px; width: 100px; margin-left: 30px;" class="img-responsive center-block" alt="Logo">
            </div>
            <hr color="white"/>
            <div class="left-navigation">
                <ul class="list ml-0">
                    <h5><strong>{{Categoria}}</strong></h5>
                    <li *ngFor = "let Sub of articulosArray_Sub; let i = index" (click)="navegarCategoria(Sub.categoria, Sub.SubCategoria)">{{Sub.SubCategoria}}
                    </li>

                </ul>

                <hr color="white"/>

                <ul class="list">
                    <h5><strong>Mas</strong></h5>
                    <li (click)="navegarCategoria('Libros','')">Libros</li>
                    <li (click)="navegarCategoria('Instrumentos', '')">Musica</li>
                    <li (click)="navegarCategoria('EMD', '')">Emd</li>

                </ul>
            </div>
        </div>

        <div class="col-md-10 col-sm-8 main-content">
          <section class="details-card">
            <div class="container-fluid mt-2 " style="background-color:#fff;">
                <div class="row ">
                    <div class="col-md-4 mb-2 mt-3" *ngFor = "let articulo of articulosArray; let i = index">
                        <div class="card-content">
                            <div class="card-img">
                                <img id="producto" class="mt-3" src="{{articulo.Imagen}}" alt="">
                                <span class="ml-2"><h4>{{Categoria}}</h4></span>
                            </div>
                            <div class="card-desc" >
                                <h3 style="overflow:hidden; white-space:nowrap; text-overflow: ellipsis;">{{articulo.NombreProducto}}</h3>
                                <hr/>
                                  <p>{{articulo.Precio}}</p>
                                    <a (click) = "masInformacion(articulo.IdProducto)" class="btn-card">Comprar</a>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </section>
        
      
    </div>
</div>
</div>







