  <!--
  <div class="col-md-10 col-sm-8 main-content">
    <h1 style="color: black;">PRODUCTOS AGREGADOS RECIENTEMENTE Total: ${{Subtotal}}</h1><button (click)="navegarPago()" class="btn btn" style="background-color:#0779e4; border-color:#0779e4; color:black;" >Comprar ahora</button>
    <section class="details-card" *ngFor="let producto of articulosArray;  let i = index">
      <hr/>
      <div class="container-fluid mt-2 " style="background-color:#fff; "  >
        <div class="row"  >
           <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">       
             <img fallimg class="ml-5" src="{{producto.Imagen}}" width="200" height="270">
           </div>
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-2">
            <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              Nombre del Producto:</p>
              <h4><p style="font-style:italic; color: #ccc;">{{producto.NombreProducto}}</p></h4>
            </h3>
            <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              Precio del producto:</p>
              <h4><p style="font-style:italic; color: #ccc" > ${{producto.Precio}}</p></h4>
            </h3>
            <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              Editorial o Modelo:</p>
              <h4><p style="font-style:italic; color: #ccc">{{producto.Propiedad4}}
                {{producto.Propiedad1}}</p>
              </h4>
            </h3>
            <button id="botones" type="button" class="btn btn-warning" data-target="#formulario" (click) = "quitarCarrito(producto.IdCarrito)">Eliminar</button><button type="button" class="btn btn-warning">Agregar al carrito</button>
            <button id="botones" type="button" class="btn btn" data-toggle="modal" data-target="#formulario" style="background-color:#0779e4; border-color:#0779e4; color:white;" (click) = "cambiarCantidad(producto.Cantidade, producto.IdCarrito)">Cambiar cantidad</button>
            </div>
        </div>
      </div>
      <hr/>
     

    </section> 
  </div>

<div id="formulario" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div id="Layer1" style="height:600px; overflow: scroll;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cambiar cantidad</h4>
      </div>
      <div class="modal-body">
        <div class="container">

          <div class="form-sec">
            <h4>Venta por Whatsapp</h4>
            
            <form [formGroup]="ventaForm">
             
             
            
              <select class="form-control" [(ngModel)]="quantity" id="quantity" formControlName="quantity" name="quantity">
                <option [value]="1">1</option>
                <option [value]="2" >2</option>
                <option [value]="3" >3</option>
              </select>
              <button type="submit" class="btn btn-default" (click)="modificarCantidad()">Enviar</button>
            </form>
            </div>
          
          
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    </div>
    </div>

</div>
-->
<div class="card text-center" style="color: black; border-radius: 20px;">
  <div class="card-header" style="border-radius: 20px;">
    Resumen De Compra<img fallimg class="ml-1" src="assets/bolsa.png" width="45px">
  </div>
  <div class="card-body" style="height: 730px; overflow-y: scroll; ">
   <div class="row">
     <div id="onlypc" class="col-8">ARTICULOS</div>
     <div id="onlypc" class="col-2">PRECIO</div>
     <div id="onlypc" class="col-2 ">CANT</div>
     <div id="justcel" class="col-4">ARTICULO</div>
     <div id="justcel" class="col-8">INFORMACION ARTICULO</div>
   </div>
   <hr/>
   <div class="row" id="justcel" *ngFor = "let producto of articulosArray; let i = index">
    <div class="col-4 mt-4 "><img fallimg class="img-fluid" src="{{producto.Imagen}}" (click) = "masInformacion(producto.IdProducto, producto.Categoria)" width="200px" alt="">
    </div>
    <div class="col-8 mt-4" style="text-align:left;">
     {{producto.NombreProducto}}
        <br>
        <div class="mt-2">{{producto.Propiedad2}}</div>
         <div class="mt-2" style="color:gray;">${{producto.Precio}}</div>
        <br>
        <button (click)="quitarCarrito(producto.IdCarrito)" style="color: gray; background-color: white; border: 0; cursor: pointer;">Eliminar</button><span style="font-size:20px;">|</span><span><input class="ml-2"  style="border-radius: 100%; width:30px ; height:30px; font-size:small; text-align: center;"  placeholder="{{producto.Cantidad}}"><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left:5px ; font-weight: 800;"(click)="aumentarCantidad(producto.IdCarrito, producto.IdProducto)">+</button><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left: 5px; font-weight: 800;" (click)="disminuirCantidad(producto.IdCarrito)">-</button></span>
    </div>
  </div>

  <!--AQUI SE MOSTRARA EN PC-->
   <div id="onlypc" *ngFor="let producto of articulosArray;  let i = index">
     <div class="row align-items-center " >
       <div class="col-1" >
         <button (click)="quitarCarrito(producto.IdCarrito)" style="font-weight: 900; color: gray; background-color: white; border: 0; cursor: pointer;"> X</button>
        </div>
       <div class="col-2">
        <img fallimg class="img-fluid" src="{{producto.Imagen}}">
      </div>
     <div class="col-3">
       <p style="font-size:20px;;">{{producto.NombreProducto}}  - {{producto.Propiedad2}}</p>
     </div>
     <div class="col-2" style="font-weight: 900; font-size: larger; color:gray;" >
      ${{producto.Precio}}
    </div>
    <div class="col-4">
      <input  style="border-radius: 100%; width:30px ; height:30px; font-size: medium; text-align: center;"  placeholder="{{producto.Cantidad}}"><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left:5px ; font-weight: 800;"(click)="aumentarCantidad(producto.IdCarrito, producto.IdProducto)">+</button><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left: 5px; font-weight: 800;" (click)="disminuirCantidad(producto.IdCarrito)">-</button>    
    </div>

   </div>
    <hr/>

  </div>

</div>
<div class="card-footer text-muted">
  <div style="margin-left:70%;">Total: <h3 style="font-weight: 700; color:#d7388b;"> ${{Subtotal}}</h3> </div>  
</div>
</div>
<div class="row align-items-center"> 
  <div class="col">
<img fallimg class="ml-1" style="cursor: pointer; float:right;" (click)="navegarPago()"   data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/botonComprar.png" width="150px"/> 
</div>
</div>