<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #ffca00" >
  <a class="navbar-brand"><img src="assets/talamas.png" alt="" style = "width: 100px; height:100px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
        <a class="nav-link dropdown-toggle" style=" border-color: #0779e4;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Usuario
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="navegarHistorial()">Historial de Compras</a>
          <a class="dropdown-item" (click)="navegarConfiguracion()">Configuracion</a>
          <a class="dropdown-item" href="#">Soporte</a>
          <div class="dropdown-divider"></div>
          <a href="http://localhost:4200/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
        </div>
      </li>

      <li class="nav-item active">
        <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color: #ffca00;" (click)="navegarInicio();">Inicio</button>
      </li>
      <li class="nav-item dropdown">
          <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color: #ffca00;" (click)="navegarLibreria();">Libreria</button>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" style="color: black; border-color:#ffca00; background-color: #ffca00;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="sr-only">Toggle Dropdown</span>
           </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" *ngFor="let Subcategoria of articulosArray_Sub" (click)="navegarCategoria(Subcategoria.categoria, Subcategoria.SubCategoria)">{{Subcategoria.SubCategoria}}</a>

             </div>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color: #ffca00;" (click)="navegarMusica()">Musica</button>
      </li>
  </ul>
    
    <form [formGroup]="registroForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="cadena" [(ngModel)]="cadena" formControlName="cadena" placeholder="Escribe aqui para buscar" aria-label="Search">
      <button id="botones" class="btn my-2 my-sm-0" type="submit" style = "background-color: #212121; color:white" (click)="navegarBusqueda();">Buscar</button>
    </form>
    
   <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
    </ng-container>
    <ng-template #elseTemplate>
      <button id="botones" style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
      
      <button id="botones" style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
    </ng-template>    

    
</div>  
</nav>

  <div class="col-md-10 col-sm-8 main-content">
    <h1>PRODUCTOS AGREGADOS RECIENTEMENTE Total: ${{Subtotal}}</h1><a href="http://localhost/talamas/DatosDePagoCarrito.php?user={{user}}" class="btn btn" style="background-color:#0779e4; border-color:#0779e4; color:white;" >Comprar ahora</a>
    <section class="details-card" *ngFor="let producto of articulosArray;  let i = index">
      <hr/>
      <div class="container-fluid mt-2 " style="background-color:#fff; "  >
        <div class="row"  >
           <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">       
             <img class="ml-5" src="{{producto.Imagen}}" width="200" height="270">
           </div>
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-2">
            <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              Nombre del Producto:</p>
              <h4><p style="font-style:italic; color: #ccc;">{{producto.NombreProducto}}</p></h4>
            </h3>
            <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              Precio del producto:</p>
              <h4><p style="font-style:italic; color: #ccc" > ${{producto.Precio}}</p></h4>
            </h3>
            <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              Editorial o Modelo:</p>
              <h4><p style="font-style:italic; color: #ccc">{{producto.Propiedad4}}
                {{producto.Propiedad1}}</p>
              </h4>
            </h3>
            <button id="botones" type="button" class="btn btn-warning" data-target="#formulario" (click) = "quitarCarrito(producto.IdCarrito)">Eliminar</button><!--<button type="button" class="btn btn-warning">Agregar al carrito</button>-->
            <button id="botones" type="button" class="btn btn" data-toggle="modal" data-target="#formulario" style="background-color:#0779e4; border-color:#0779e4; color:white;" (click) = "cambiarCantidad(producto.Cantidade, producto.IdCarrito)">Cambiar cantidad</button>
            </div>
        </div>
      </div>
      <hr/>
     

    </section> 
  </div>
  <!-- Modal -->
<div id="formulario" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal contenido-->

    <div class="modal-content">
      <div id="Layer1" style="height:600px; overflow: scroll;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cambiar cantidad</h4>
      </div>
      <div class="modal-body">
        <div class="container">

          <div class="form-sec">
            <h4>Venta por Whatsapp</h4>
            
            <form [formGroup]="ventaForm">
             
             
            
              <select class="form-control" [(ngModel)]="quantity" id="quantity" formControlName="quantity" name="quantity">
                <option [value]="1">1</option>
                <option [value]="2" >2</option>
                <option [value]="3" >3</option>
              </select>
              <button type="submit" class="btn btn-default" (click)="modificarCantidad()">Enviar</button>
            </form>
            </div>
          
          
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
    </div>
    </div>

</div>
