
<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #ffca00" >
    <a class="navbar-brand"><img src="assets/talamas.png" alt="" style = "width: 100px; height:100px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver carrito</a>
            <a class="dropdown-item" href="#">Soporte</a>
            <div class="dropdown-divider"></div>
            <a href="http://localhost:4200/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
          </div>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link" (click)="navegarInicio();">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navegarLibreria();">Libreria</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" (click)="navegarMusica()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Musica
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Acceso</a>
            <a class="dropdown-item" href="#">De viento</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Otro tipo</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" (click)="navegarPublicidad();">Publicidad</a>
        </li>
      </ul>
  
      <form [formGroup]="registroForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="cadena" [(ngModel)]="cadena" formControlName="cadena" placeholder="Escribe aqui para buscar" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit" style = "background-color: #212121; color:white" (click)="navegarBusqueda();">Buscar</button>
      </form>
     <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
      </ng-container>
      <ng-template #elseTemplate>
        <button style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
        
        <button style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
      </ng-template>       
  </div>  
  </nav>

  <div class="col-md-10 col-sm-8 main-content">
    <section class="details-card">
      <h1>CARRITO</h1>
      <hr/>
      <div class="container-fluid mt-2 " style="background-color:#fff;">
        <div class="row">
           <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">       
             <img class="ml-5" src="https://cdn.gandhi.com.mx/media/catalog/product/cache/1/image/370x/9df78eab33525d08d6e5fb8d27136e95/i/m/image_1165_1_62235.jpg" width="250" height="270">
           </div>
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-2">
            <h4><p id="Texto" class="mr-5" style = "font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              texto que se mostrara aqui
            </h4>
            <h4><p id="Texto" class="mr-5" style = "font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              texto que se mostrara aqui
            </h4>
            <h4><p id="Texto" class="mr-5" style = "font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              texto que se mostrara aqui
            </h4>
            </div>
        </div>
      </div>
      <hr/>
    </section> 
  </div>