#principal
{
	width: 960px;
	height:800px;
	background-color: tomato;
	margin:auto;
	margin-top:200px;
	
	
}

body
{
	background:url(src/assets/prueba.jpg);
	background-repeat:no-repeat ;
	background-size: cover;
	background-attachment: fixed;
	
}