<div class="container-fluid mt-5" style=" border: 2px solid gray; padding: 15px; border-radius: 10px; box-shadow: 1px 2px 3px gray;">
  <ng-container *ngIf="EoF; else elseTemplate2">

        <p>COMPRA EXITOSA</p>
        <img style="display: block; margin: 0 auto;" src="assets/palomita.png">
        <button  id="boton" type="button" style="background-color: #81b214;" class="btn btn mt-2" (click)="navegarDetalles()">Ver detalles del pedido</button>
        <div class="text-center mt-2" style="font-size:20px;">Gracias por tu compra, pronto recibirás un correo con los detalles de tu compra</div>
</ng-container>
<ng-template #elseTemplate2>

    <p>ALGO SALIO MAL CON TU COMPRA</p>
      <img style="display: block; margin: 0 auto;" src="assets/tacharoja.png">
    <button id="boton" type="button" style="background-color: #81b214;" class="btn btn mt-2">VOLVER A INICIO</button>
    <div class="text-center mt-2" style="font-size:20px;">Algo salió mal con tu compra intentalo más tarde</div>
</ng-template>   
</div>