  <ng-container *ngIf="EoF; else elseTemplate2">
  <div class="container mt-5 mb-5" style="width: 500px; height:350px; overflow:hidden;">

        <p>COMPRA EXITOSA<img src="assets/palomita.png"></p>
        <button id="boton" type="button" class="btn btn-warning">SEGUIR COMPRANDO</button>
        {{IdCompra}} {{IdProducto}} {{NombreProducto}} {{CostoTotal}}

  </div>
</ng-container>
<ng-template #elseTemplate2>
  <div class="container mt-5 mb-5" style="width: 500px; height:350px; overflow:hidden;">

    <p>ALGO SALIO MAL CON TU COMPRA<img src="assets/tacharoja.png"></p>
    <button id="boton" type="button" class="btn btn-warning">VOLVER A INICIO</button>
    <h1>{{MensajeError}}</h1>
</div>
</ng-template>   