
<div class="container-fluid mt-5" style=" border: 2px solid gray; padding: 15px; border-radius: 10px; box-shadow: 1px 2px 3px gray;">
<form action="/charge" method="post" id="payment-form" [formGroup]="form2">
    <div class="form-row">
      <label for="card-element">Tarjeta de Credito o Debito</label>
      <div id="card-element"></div>
      <div id="card-errors" role="alert"></div>
    </div>

    <div class="form-row">
    <label for="nombre">Nombre del titular</label>
    </div>
    <div class="form-row">
    <div class="col-sm-12 col-lg-6 mt-1">
      <input name="nombre" class="form-control" [(ngModel)]="nombre" formControlName="nombre" id="nombre" placeholder="Nombre(s)">
    </div>
    <div class="col-sm-12 col-lg-6 mt-1">
      <input name="apellido" class="form-control" id="apellido" [(ngModel)]="apellido" formControlName="apellido"  placeholder="Apellido(s)">
     </div>
    </div>
    <button class="btn btn mt-2" [disabled]="isDisabled" >{{button}}</button>
  </form>
</div>
<div class="row">
  <div class="col-sm-12 col-lg-6">
  <div class="container mt-5" style=" margin-left: 0px; width:350px; border:2px solid gray; padding:15px; border: radius 10px;">
  <strong>ENVIAR A:</strong>
  <div>{{_servicioCompartido.Nombre}}</div>
  <div>{{_servicioCompartido.Calle}}  #{{_servicioCompartido.NumeroExt}}</div>
  <div>{{_servicioCompartido.Ciudad}}, {{_servicioCompartido.Estado}}, #{{_servicioCompartido.CodigoPost}}</div>
  </div>
  </div>
  <div class="col-sm-12 col-lg-6">
  <div class="container mt-5" style=" margin-left: 0px; width:350px; border:2px solid gray; padding:15px; border: radius 10px;">
    <div><strong>Subtotal:{{Subtotal |  number:'1.2-2'}}</strong></div>
    <div><strong>Envio:{{Envio |  number:'1.2-2'}}</strong></div>
    <div><strong>Total:{{Total |  number:'1.2-2'}}</strong></div>
    <br>
    </div>
  </div>
  </div>

  <!--AQUI ES EL CODIGO DEL MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black; font-weight:700;">CONFIRMACIÓN DE COMPRA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h5 style="font-weight:700;">Enviar a:</h5>
            Brandon Jesus Moreno Rodriguez<br>
            Direccion<br>
            Ciudad, estado, cp<br>
          </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 style="font-weight:700;">Precio:</h5>
          Subtotal:<br>
          Envio:<br>
          Total:<br>
        </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"style="background-color:#81b214; border-color:#81b214;">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"style="background-color:#81b214; border-color:#81b214;">Cancelar</button>
      </div>
    </div>
  </div>
</div>