
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- titulos -->

    <!-- Icono -->
    <div class="fadeIn first">
      <img src="assets/usuario.jpg" id="icon" alt="User Icon">
    </div>
    <!-- forma de inicio -->
    <form>
      <br>
      <input [(ngModel)]="email"  id="login" class="form-control w-75 ml-5" name="login" placeholder="Correo Electronico">
      <br>
      <input type="password" [(ngModel)]="contrasena"  id="password" class="form-control w-75 ml-5" name="login" placeholder="Contraseña">
      <br>
      <input type="submit" (click) = "registrar()"  class="fadeIn fourth" value="Iniciar sesión">
    </form>

    <!--  Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">¿Olvido su contraseña?</a>
    </div>

  </div>
</div>

