<div class="container-fluid">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/libro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Proposito</h5>
      <p class="card-text">We're here for you an all the people who will smile whit books </p>
      <a href="#" class="btn btn-primary">Leer mas</a>
    </div>
  </div>
  

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/libro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Proposito</h5>
      <p class="card-text">We're here for you an all the people who will smile whit books </p>
      <a href="#" class="btn btn-primary">Leer mas</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets/libro.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Proposito</h5>
      <p class="card-text">We're here for you an all the people who smile whit books </p>
      <a href="#" class="btn btn-primary">Leer mas</a>
    </div>
  </div>






</div>
  
