<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- titulos -->
    <div id="formhead">
      <h1><p>INICIAR SESION</p></h1>
    </div>

    <!-- Icono -->
    <div class="fadeIn first">
      <img src="assets/user.png" id="icon" alt="User Icon">
    </div>
    <!-- forma de inicio -->
    <form>
      <br>
      <input [(ngModel)]="email"  id="login" class="form-control w-75 ml-5" name="login" placeholder="Correo Electronico" style="background-color:#f6f6f6; border-radius: 50px;">
      <br>
      <input type="password" [(ngModel)]="contrasena"  id="password" class="form-control w-75 ml-5" name="login" placeholder="Contraseña" style="background-color:#f6f6f6; border-radius:50px;">
      <br>
      <button class="btn fadeIn fourth mb-5" (click) = "registrar()" style="background-color: #f6f6f6; border-radius:50px;">Iniciar sesion<span><img src="assets/bolsa.png" width="30px"></span></button>
    </form>

    <!-- registro -->

  </div>
</div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- titulos -->
        <div id="formhead">
          <h1><p>CREA TU CUENTA</p></h1>
          <h5><p>Ingresa tus datos para realizar tus compras</p></h5>
        </div>
    
        <!-- Icono -->
  
        <!-- forma de inicio -->
        <form style="background-color:#f6f6f6;">
          <br>
          <div class="row">
           <img class="ml-4" src="assets/Perfil2.png" width="40px" height="40px">
          <input [(ngModel)]="nombre"  id="login" class="form-control w-50 ml-2" name="login" placeholder="Nombre(s)" style=" border-radius: 50px;">
        </div>
          <br>
          <div class="row">
            <img class="ml-4" src="assets/Perfil2.png" width="40px" height="40px">
            <input [(ngModel)]="apellido"  id="login" class="form-control w-50 ml-2" name="login" placeholder="Apellido(s)" style="border-radius:50px;">
          </div>
          <br>
          <div class="row">
          <img class="ml-4" src="assets/Telefono2.png" width="40px" height="40px">
          <input [(ngModel)]="numero"  id="login" class="form-control w-50 ml-2" name="login" placeholder="Numero de Tel." style=" border-radius:50px;">
          </div>
          <br>
          <div class="row">
            <img class="ml-4" src="assets/Correo2.png" width="40px" height="40px">
            <input [(ngModel)]="emailR"  id="login" class="form-control w-50 ml-2" name="login" placeholder="Correo Electronico" style=" border-radius:50px;">
          </div> 
          <br>
          <div class="row">
            <img class="ml-4" src="assets/contrame.png" width="40px" height="40px">
            <input [(ngModel)]="contrasena1" type="password"  id="login" class="form-control w-50 ml-2" name="login" placeholder="Contraseña" style=" border-radius:50px;">
          </div> 
          <br>
          <div class="row">
          <img class="ml-4" src="assets/contrame.png" width="40px" height="40px">
          <input [(ngModel)]="contrasena2" type="password"  id="login" class="form-control w-50 ml-2" name="login" placeholder="Repetir Contraseña" style=" border-radius:50px;">
          </div>
          <button class="btn fadeIn fourth mb-5 mt-3" (click) = "registra()" style=" border-radius:50px;">Crear Cuenta<span><img src="assets/bolsa.png" width="30px"></span></button>
        </form>
    
        <!-- registro -->
    
      </div>
    </div>

  </div>
</div>



