.container .row{
    margin-top: 7%;
    margin-bottom: 10%;
}
.container .row .col-md-12{
    background: #f5f5f5;
    margin-right: -2%;
    padding: 5%;
}
.container h3{
    color: #004085;
}
.container p{
    margin-top: 10%;
    color: #545b62;
}
.container img
{
    width: 100%;
}