<div class="container" style="color: black;">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                VISIÓN
            </h3>
            <p class="text-justify" style="padding-right:50px; padding-left:50px;">
                Ser el referente del conocimiento y entretenimiento para que crezca la cultura de las personas,proporcionando a las personas que servimos.
            </p>
            <img class="d-block mx-auto" src="assets/bolsa.png" width="100px" height="100px">
        </div>
    </div>
</div>
