<br><br><br><br><br><br>
<div class="container">
    <div class="row  justify-content-md-center">
  
        <div class="col-sm-2">
            <button class="btn btn-default" href="#">
                Libreria
                </button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default" href="#">
                    Discos
                    </button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-default" href="#">
                        Musica
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-default " href="#">
                            Soporte
                            </button>
                        </div>
</div>
</div>