#boton
{
    margin-right: 20px;
}
#Botoncarrito
{
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius:20px;

}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#GrupoBotones
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:white;
  height:40px;
  
}

#categorias
{
  color: black; 
  font-size: medium;
   height: 25px;
}
#categorias:hover
{
  color:#e11d74;
}

#textomas
{
  color: black;
  width:100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 13px;
  text-transform: uppercase;

}

#textomas2
{
  width:100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  color:#e11d74;

}

#textomas3
{
  width:100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  color:#9e9e9e;
  font-size: 11px;
  text-transform: uppercase;
}
.imgr
{
  display: block; 
  margin: 0 auto;
}

#cursormano
{
  cursor: pointer;
}

h1
{
  font-family: 'Tahoma';
}

@media only  screen and (max-width:500px)
{
  #onlypc
  {
    display: none !important;
  }
}

@media only screen and (max-width:5000px) and (min-width:500px)
{
  #justcel
  {
    display: none !important;
  }
}



