<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #ffca00">
    <a class="navbar-brand"><img src="assets/talamas.png" alt="" style = "width: 100px; height:100px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver carrito</a>
            <a class="dropdown-item" (click)="navegarConfiguracion()">Configuracion</a>
            <a class="dropdown-item" href="#">Soporte</a>
            <div class="dropdown-divider"></div>
            <a href="http://localhost:4200/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
          </div>
        </li>
  
        <li class="nav-item active">
          <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color:#ffca00;" (click)="navegarInicio();">Inicio</button>
        </li>
        <li class="nav-item dropdown">
            <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color:#ffca00;" (click)="navegarLibreria();">Libreria</button>
              <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" style="color: black; border-color:#ffca00; background-color:#ffca00;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">Toggle Dropdown</span>
             </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
               </div>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color:#ffca00;" (click)="navegarMusica()">Musica</button>
        </li>
    </ul>
      
      
      <form [formGroup]="registroForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="cadena" [(ngModel)]="cadena" formControlName="cadena" placeholder="Escribe aqui para buscar" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit" style = "background-color: #212121; color:white" (click)="navegarBusqueda();">Buscar</button>
      </form>
      
      <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
        <a href="http://localhost:4200/"><button style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="_servicioCompartido.cerrarSesion();" >Cerrar Sesion</button></a>      
        </ng-container>
        <ng-template #elseTemplate>
          <button style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
          
          <button style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
        </ng-template>   </div>  
  </nav>
<!--Fin del navbar-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-4 sidebar1">
            <div class="logo">
                <img src="{{Logo}}" style="height: 100px; width: 100px; margin-left: 30px;" class="img-responsive center-block" alt="Logo">
            </div>
            <hr color="white"/>
            <div class="left-navigation">
                <ul class="list ml-0">
                    <h5><strong>{{Categoria}}</strong></h5>
                    <li *ngFor = "let Sub of articulosArray_Sub; let i = index" (click)="navegarCategoria(Sub.categoria, Sub.SubCategoria)">{{Sub.SubCategoria}}
                    </li>

                </ul>

                <hr color="white"/>

                <ul class="list">
                    <h5><strong>Mas</strong></h5>
                    <li (click)="navegarCategoria('Libros','')">Libros</li>
                    <li (click)="navegarCategoria('Instrumentos', '')">Musica</li>
                    <li (click)="navegarCategoria('EMD', '')">Emd</li>

                </ul>
            </div>
        </div>

        <div class="col-md-10 col-sm-8 main-content">
          <section class="details-card" *ngFor = "let resultado of articulosArray_Buscar; let i = index">
              <hr color="black"/>
            <div class="container-fluid mt-2 " style="background-color:#fff;">
                <div class="row ">
                        <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">
                            
                                <img src="{{resultado.Imagen}}" width="250" height="350">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-5">
                          <div>
                            <h4><p id="Texto" class="mr-5" style = "font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
                              {{resultado.NombreProducto}} 
                              <br>
                              <br>
                               Precio: ${{resultado.Precio}}
                               <br>
                               <br>
                               Categoria: {{resultado.SubCategoria}}
                               <br>
                               <br>
                               <br>
                               <button id="boton" style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary" (click)= "masInformacion(resultado.IdProducto, resultado.Categoria)">Comprar</button>
                              </p></h4>
                            </div>
                        </div>
                        


                        </div>
             
            </div>
          </section>
        
      
    </div>
</div>
</div>













<!--
<hr color="black"/>
<div class="Container">
<div class="Row">
<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
    
        <img src="assets/camisa.png" width="250" height="250">
         
</div>
</div>

</div>
<hr color="black"/>

-->
<router-outlet></router-outlet>
