#botones
{
    margin-right: 20px;
}

.sidebar1 {
    background-color: #212121;
    padding: 0px;
    min-height: 100%;
}
.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
text-align:center;
}


@media only  screen and (max-width:400px)
{
    #Texto
    {
       text-align: center;
    }

    #img 
    {
    margin-left:-25px;
    }

    #boton
    {
        margin-left:110px;
    }
}

@media only screen and (max-width:1100px) and (min-width:800px)
{
    #img
    {
        margin-left:30%;
    }

    #boton
    {
        margin-left:20%;
        font-size: 30px;
    }

    #Texto
    {
        margin-left:50%;
        font-size: 30px;
    }
}

@media only screen and (max-width:780px) and (min-width:500px)
{
    #Texto
    {
        margin-left:40%;

    }

    #resultado
    {
      margin-left: -50%;
    }
    
}

@media only screen and (max-width:415px) and (min-width:410px)
{
    
        #Texto
        {
            margin-left:-5%;
        }
    

}

