*
{
	margin:0;
	padding: 0;
}

.logo
{
	width:250px;
	margin-top:10px;
	margin-left:40px;
}
.logo:hover
{
	width:270px;
	transition: all .5s;
}

.btn-default{
   
	background-color:#3fc5f0;
    color: #212121;
    font-family:fantasy;
    font-size:30px;
	padding: 15px 20px;

}

.btn:hover
{
    color:white;
	transition: all .3s;
    font-size: 35px;
    background-color: black;
}

.casa{
	min-width: 100%;
	margin-top: -2%;
	background-color: #3fc5f0;
}

header
{
	background-color: #212121;
	height:200px;
	box-shadow:7px 7px 7px #D6D6D6;
}

footer
{
	background-color: #222831;
}











