#boton
{
    margin-right: 20px;
}

#botoncuenta
{
  color: white;
  float: right;
  margin-left: 80%;
  margin-top:-15px;
  list-style: none;
  text-align:right;
}

@media only  screen and (max-width:500px)
{
    iframe
    {
      display: none !important;
    }
}

@media only screen and (max-width:1100px) and (min-width:500px)
{
    iframe
    {
        width:300px;
    }
}

.btn:hover:not(.btn-link):not(.btn-flat) {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
  }
  .btn:active:not(.btn-link):not(.btn-flat) {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
  }
  .btn:not(.btn-link):not(.btn-flat),
  .btn-default:not(.btn-link):not(.btn-flat) {
    background-color: transparent;
  }
  .btn-grey-mat{
      background-color:#607D8B;
      color:#ffffff;    
      margin:10px;
  }
