<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <nav class="navbar navbar-expand-lg navbar-light " style = "background-color:white; position:-webkit-sticky; position: sticky; top: 0px; z-index: 100; width: 100%; padding-left:7% ;">
        <a class="navbar-brand"><img id="logo" src="assets/logo.png" alt="" (click)="navegarInicio()"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2 " style="width:500px;" [formGroup]="registroForm">
            <input class="form-control form-control-sm mr-3 w-75 sinBorde" [(ngModel)]="cadena" formControlName="cadena" type="text" placeholder="Buscar..." aria-label="Search" style="width:400px;">
            <img src="assets/iconolupa.png" width="30px" (click)="navegarBusqueda()">
          </form>
      
          <img class="mr-1" src="assets/iconocontacto.png" width="50px" (click)="navegarSoporte()">
          <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
            <img ngif class="mr-1" src="assets/iconouser.png" width="50px" (click)="navegarConfiguracion()">
          </ng-container>
          <ng-template #elseTemplate>
            <img ngif class="mr-1" src="assets/iconouser.png" width="50px" (click)="navegarSesion()">
          </ng-template>
          
          <img class="mr-1" src="assets/iconocarrito.png" width="50px" (click)="navegarCarrito()">
           
          <!---
         <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
          <button id="botones2" type="button" class="btn btn" style="color:white; background-color:#0779e4; border-color: #0779e4;" (click)="navegarCarrito()">Ver carrito</button>
          </ng-container>
          <ng-template #elseTemplate>
            <button id="boton" style="background-color:#0779e4; color:white; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button> 
            
            <button id="boton" style="background-color:#0779e4; color:white; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
          </ng-template>    
        -->
      
          
      
          
      </div>  
      </nav>
      <!--Fin del navbar--><div class="container-fluid" *ngIf="_servicioCompartido.soloBusqueda">
        <div class="row">
          <div class="col-md-2 col-sm-4 sidebar1">
              <div class="logo">
                  <img src="assets/logo.png" style="height: 100px; width: 100px; margin-left: 30px;" class="img-responsive center-block" alt="Logo">
              </div>
              <hr color="white"/>
              <div class="left-navigation">
                  <ul class="list ml-0">
                      <h5><strong>Todo</strong></h5>
                      <li *ngFor = "let Sub of articulosArray_Sub; let i = index" (click)="navegarCategoria(Sub.categoria, Sub.SubCategoria)">{{Sub.SubCategoria}}
                      </li>
      
                  </ul>
      
                  <hr color="white"/>
      
                  <ul class="list">
                      <h5><strong>Mas</strong></h5>
                      <li (click)="navegarCategoria('Libros','')">Libros</li>
                      <li (click)="navegarCategoria('Instrumentos', '')">Musica</li>
                      <li (click)="navegarCategoria('EMD', '')">Emd</li>
      
                  </ul>
              </div>
          </div>
      
          <div class="col-md-10 col-sm-8 main-content">
            <section class="details-card" *ngFor = "let resultado of articulosArray_Buscar; let i = index">
                <hr color="black"/>
              <div class="container-fluid mt-2 " style="background-color:#fff;">
                  <div class="row ">
                          <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">
                              
                                  <img src="{{resultado.Imagen}}" width="250" height="350">
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-5">
                            <div>
                              <h4><p id="Texto" class="mr-5" style = " font-style:italic; font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
                                {{resultado.NombreProducto}} 
                                <br>
                                <br>
                                 Precio: ${{resultado.Precio}}
                                 <br>
                                 <br>
                                 Categoria: {{resultado.SubCategoria}}
                                 <br>
                                 <br>
                                 <br>
                                 <button id="boton" style="background-color: #0779e4; border-color: #0779e4;" type="button" class="btn btn-primary" (click)= "masInformacion(resultado.IdProducto, resultado.Categoria)">Comprar</button>
                                </p></h4>
                              </div>
                          </div>
                          
      
      
                          </div>
               
              </div>
            </section>
          
        
      </div>
      </div>
      </div>

<br><br>



<router-outlet></router-outlet>
</mat-sidenav-content>


</mat-sidenav-container>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style = "background-color: #2E2E2E">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase" style="color:white" >Tienda Talamas</h5>
        <p style="color:white">Av. Vicente Guerrero 1729, Sector Centro, 88000 Nuevo Laredo, Tamps.</p>
        <p style="color:white">Telefono de contacto: +52 867 121 6031</p>
        <p style="color:white;" (click)="navegarPoliticas('CondicionesDeUso')">Condiciones de uso de uso</p>
        <p style="color: white;" (click)="navegarPoliticas('CondicionesDeDevoluciones')">Condiciones de devoluciones</p>
        <p style="color: white;" (click)="navegarSoporte()">Soporte</p>
        <br>
        <br>  
        

   

            <a href="https://www.facebook.com/ticketstalamas/"><img id="button" src="assets/facebook.png" width="50px" height="50px" style="border-radius: 50%;"></a>
            <a href="https://twitter.com/ticketstalamas?lang=es"><img id="button" src="assets/twiter.png" width="50px" height="50px"></a>
            <a href="#!"><img id="button" src="assets/whatsapp.png" width="50px" height="50px" style="border-radius: 50%;"></a>

        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color:white">MAPA DE SUCURSAL</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3539.5214384510623!2d-99.50967818494281!3d27.484154382884924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x866118a93889a607%3A0xadb38b492127f070!2sTalamas!5e0!3m2!1ses-419!2smx!4v1595881224069!5m2!1ses-419!2smx" width="650" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



</footer>
<!-- Footer -->