<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #ffca00">
  <a class="navbar-brand"><img src="assets/logot.png" alt="" style = "width: 100px; height:100px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="navegarInicio();">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navegarLibreria();">Libreria</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Instrumentos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">De cuerda</a>
          <a class="dropdown-item" href="#">De viento</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Otro tipo</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Accesorios</a>
      </li>
    </ul>
    
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Escribe aqui para buscar" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit" style = "background-color: #212121; color:white">Buscar</button>
    </form>
    <button style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
      
<button style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>
  </div>  
</nav>



<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style = "background-color: #2E2E2E">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase" style="color:white" >Tienda Talamas</h5>
        <p style="color:white">Contenido exclusivo de Tienda talamas.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color:white">CONTACTO</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Contacto</a>
          </li>
          <li>
            <a href="#!">Soporte</a>
          </li>
          <li>
            <a href="#!">Idioma</a>
          </li>
          <li>
            <a href="#!">Estado</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color:white">REDES</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.facebook.com/ticketstalamas/">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/ticketstalamas/?hl=es">Instagram</a>
          </li>
          <li>
            <a href="https://twitter.com/ticketstalamas?lang=es">Twitter</a>
          </li>
          <li>
            <a href="#!">Whatsapp</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->



</footer>
<!-- Footer -->