#boton
{
    margin-right: 20px;
}
.dropdown-menu
{
  width:1000px;
}



#botoncuenta
{
  color: white;
  float: right;
  margin-right:15px;
  list-style: none;
  margin-top: 5px;

}
.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input.form-control[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input.form-control[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input.form-control[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-purple .fa, .active-purple-2 .fa {
  color: #ce93d8;
}
.navbar
{
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only  screen and (max-width:500px)
{
    iframe
    {
      display: none !important;
    }
}

@media only screen and (max-width:1100px) and (min-width:500px)
{
    iframe
    {
        width:300px;
    }
}

.btn:hover:not(.btn-link):not(.btn-flat) {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
  }
  .btn:active:not(.btn-link):not(.btn-flat) {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
  }
  .btn:not(.btn-link):not(.btn-flat),
  .btn-default:not(.btn-link):not(.btn-flat) {
    background-color: transparent;
  }
  .btn-grey-mat{
      background-color:#607D8B;
      color:#ffffff;    
      margin:10px;
  }

  .sinBorde {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 5px;
    width: 600px;
  }