<div style="overflow: hidden;">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light px-0" style = "background-color:white; position:-webkit-sticky; position: static; top:25px; z-index: 3;">
      <a class="navbar-brand" style="cursor:pointer;"><img id="logo" src="assets/logo.png" alt=""  (click)="navegarInicio()"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
        
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2 mr-3" style="width:500px;" [formGroup]="registroForm">
          <input class="form-control form-control-sm mr-3 w-75 sinBorde" [(ngModel)]="cadena" formControlName="cadena" type="text" placeholder="Buscar..." aria-label="Search" style="width:400px;">
          <button type="submit"  (click)="navegarBusqueda()" style="border-radius: 60%; border-width: 0; background-color: white; "><img class="cursorMano" src="assets/iconolupa.png" width="30px"> </button>
        </form>
    
        <a class="ml-5" href="https://api.whatsapp.com/send?phone=+528672111350"><img class="mr-1 cursorMano" src="assets/iconocontacto.png" width="50px"></a>
        <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">         
           <div class="dropdown">
          <button class="btn mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" border-radius:150px; width:50px; height:50px; color: black; background-color:#f6f6f6;">
            <img src="assets/user.png" width="27px">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index:199;">
            <a class="dropdown-item cursorMano" (click)="navegarConfiguracion()">Ajustes</a>
            <a class="dropdown-item cursorMano" (click)="navegarHistorial()">Historial</a>
            <a class="dropdown-item cursorMano" (click)="navegarSoporte()">Soporte</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item cursorMano" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
          </div>
        </div>
        </ng-container>
        <ng-template #elseTemplate>
          <img ngif class="mr-1 cursorMano" src="assets/iconouser.png" width="50px" (click)="navegarSesion()">
        </ng-template>
        
        <button class="btn" style="border-color:#f6f6f6; background-color:#f6f6f6; border-radius:150px; width:50px; height:50px;"><img class="cursorMano" style="margin-left:-15%;" src="assets/bolsa.png" width="30px" (click)="navegarCarrito()"><span style="margin-left: -7%; color:#cd0a0a;">{{_servicioCompartido.productosCarrito}}</span></button>
      
        <!---
       <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
        <button id="botones2" type="button" class="btn btn" style="color:white; background-color:#0779e4; border-color: #0779e4;" (click)="navegarCarrito()">Ver carrito</button>
        </ng-container>
        <ng-template #elseTemplate>
          <button id="boton" style="background-color:#0779e4; color:white; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button> 
          
          <button id="boton" style="background-color:#0779e4; color:white; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
        </ng-template>    
      -->
    
        
    
        
    </div>  
    </nav>  
      <!--Fin del navbar--><div class="container-fluid" *ngIf="_servicioCompartido.soloBusqueda">
        <div class="row">
          <div class="col-md-2 col-sm-4 sidebar1">
              <div class="logo">
                  <img src="assets/logo.png" style="height: 100px; width: 100px; margin-left: 30px;" class="img-responsive center-block cursorMano" alt="Logo">
              </div>
              <hr color="white"/>
              <div class="left-navigation">
                  <ul class="list ml-0">
                      <h5><strong>Todo</strong></h5>
                      <li *ngFor = "let Sub of articulosArray_Sub; let i = index" (click)="navegarCategoria(Sub.categoria, Sub.SubCategoria)">{{Sub.SubCategoria}}
                      </li>
      
                  </ul>
      
                  <hr color="white"/>
      
                  <ul class="list">
                      <h5><strong>Mas</strong></h5>
                      <li (click)="navegarCategoria('Libros','')">Libros</li>
                      <li (click)="navegarCategoria('Instrumentos', '')">Musica</li>
                      <li (click)="navegarCategoria('EMD', '')">Emd</li>
      
                  </ul>
              </div>
          </div>
      
          <div class="col-md-10 col-sm-8 main-content">
            <section class="details-card" *ngFor = "let resultado of articulosArray_Buscar; let i = index">
                <hr color="black"/>
              <div class="container-fluid mt-2 " style="background-color:#fff;">
                  <div class="row ">
                          <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">
                              
                                  <img src="{{resultado.Imagen}}" width="250" height="350">
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-5">
                            <div>
                              <h4><p id="Texto" class="mr-5" style = " font-style:italic; font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
                                {{resultado.NombreProducto}} 
                                <br>
                                <br>
                                 Precio: ${{resultado.Precio}}
                                 <br>
                                 <br>
                                 Categoria: {{resultado.SubCategoria}}
                                 <br>
                                 <br>
                                 <br>
                                 <button id="boton" style="background-color: #0779e4; border-color: #0779e4;" type="button" class="btn btn-primary" (click)= "masInformacion(resultado.IdProducto, resultado.Categoria)">Comprar</button>
                                </p></h4>
                              </div>
                          </div>
                          
      
      
                          </div>
               
              </div>
            </section>
          
        
      </div>
      </div>
      </div>

<router-outlet></router-outlet>
</div>



<!-- Footer -->
<hr>
<footer class="page-footer font-small blue pt-4" style = "background-color: white">
   <div class="container">
  <div class="row mx-sm-5 mx-lg-0 mx-md-0">
    <div class="col-md-4 col-lg-4 col-sm-12 mx-sm-5 mx-lg-0 mx-md-0">
      <div class="row" style="margin-left:22%;" >
        <p>CONOCENOS</p>
      </div>
      <div class="row">
        <div class="container mb-5" style="border-left: solid 7px #81b214; width: 50%;  padding-bottom:20px;">
          <a href="http://tiendatalamas.com/mision">Misión</a><br>
          <a href="http://tiendatalamas.com/vision">Visión</a><br>
          <a href="http://tiendatalamas.com/historia">Historia</a><br>
        
        </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 mx-sm-5 mx-lg-0 mx-md-0">
      <div class="row" style="margin-left:22%;" >
        <p>SOPORTE AL CLIENTE</p>
      </div>
      <div class="row">
        <div class="container mb-5" style="border-left: solid 7px #ff5722; width: 50%; padding-left:20px; padding-bottom:20px;">
          <a href="http://localhost:4200/acerca">Ayuda</a><br>
          <a href="http://localhost:4200/contacto">Contacto</a><br>
          <a href="http://localhost:4200/acerca">Ubicaciones</a><br>
          

          
          
        </div>
    </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-12 mx-sm-5 mx-lg-0 mx-md-0">
      <div class="row" style="margin-left:22%;">
        <p>POLITICAS</p>
      </div>
      <div class="row">
        <div class="container mb-5" style="border-left: solid 7px #6a2c70; width: 50%;  padding-bottom:20px;">
        <a href="http://localhost:4200/Condiciones/CondicionesDeUso">Condiciones de uso</a><br>
        <a href="http://localhost:4200/Condiciones/CondicionesDeDevoluciones">Devoluciones y/o remplazos</a><br>
        <a href="http://localhost:4200/ConfiguracionUsuario">Tu Cuenta</a><br>
        <a href="#">Tus Pedidos</a><br>
          

        </div>
    </div>
    </div>
  </div>
</div>
<div style="background-color:#dadada;">
  <div class="container">
  <div class="row" style="align-items: center;" >
    <div class="col-sm-12 col-md-3 col-lg-4">
        <a title="Pagina de Facebook de Tienda Talamas" href="https://www.facebook.com/libreriatalamas/?__tn__=%2Cd%2CP-R&eid=ARAtq7g7F02JUBBD1LazD4VJqGE4dAZywcLO_8W9q--3nvipBqj6xgdDzLsvAt3On6Lf1h3N-5pruC4e"><img style="margin-left:20%; padding-top: 50px;" id="facebook" src="assets/facebook.png" width="60px"></a>
        <a title="Pagina de Instagram de Tienda Talamas" href="https://www.instagram.com/libreria_talamas/?hl=es-la"><img style="padding-top:50px; margin-left:3%;" id="facebook" src="assets/instagram.png" width="60px"></a>
        <a title="Pagina de Twiter de Tienda Talamas" href="#"><img style="padding-top: 50px; margin-left:3%;" id="twiter" src="assets/twiter.png" width="60px"></a>
        <p style="margin-left: 15%; margin-top: 1%; font-size:12px;">Av. Vicente Guerrero 1729 (Sector centro)</p>
        <p style="margin-left: 20%; margin-top: -5%; font-size: 12px;">C.P. 88000 Nuevo Laredo, Tamps</p>

    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <img class="d-block mx-auto img-fluid" id="logo" src="assets/logo.png" alt="" (click)="navegarInicio()">
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4">
      <img class="d-block mx-auto img-fluid" src="assets/tel.png">
      
    </div>
  </div>
  </div>
</div>
  <!-- Footer Links -->
  <div style="background-color:#6d6d6d;">

    <!-- Grid row -->
    <div class="container">
    <div  class="row">
      <div class="col-12 col-md-4 col-lg-4"></div>
   <div class="col-12 col-md-4 col-lg-4 mx-auto mt-2"><p class="text-center" style="color: white; ">2020 © propiedad de Tienda en Linea Talamas</p></div>
   <div class="col-12 col-md-4 col-lg-4"></div>

    </div>
  </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links e3dfc8 -->



</footer>
<!-- Footer -->
</div>