<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #ffca00" >
    <a class="navbar-brand"><img src="assets/talamas.png" alt="" style = "width: 100px; height:100px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver carrito</a>
            <a class="dropdown-item" (click)="navegarConfiguracion()">Configuracion</a>
            <a class="dropdown-item" href="#">Soporte</a>
            <div class="dropdown-divider"></div>
            <a href="http://www.tiendatalamas.com/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
          </div>
        </li>
  
        <li class="nav-item active">
          <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color: #ffca00;" (click)="navegarInicio();">Inicio</button>
        </li>
        <li class="nav-item dropdown">
            <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color: #ffca00;" (click)="navegarLibreria();">Libreria</button>
              <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" style="color: black; border-color:#ffca00; background-color: #ffca00;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">Toggle Dropdown</span>
             </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let Subcategoria of articulosArray_Sub" (click)="navegarCategoria(Subcategoria.categoria, Subcategoria.SubCategoria)">{{Subcategoria.SubCategoria}}</a>
  
               </div>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger" style="color: black; border-color:#ffca00; background-color: #ffca00;" (click)="navegarMusica()">Musica</button>
        </li>
    </ul>
      
    
     <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
      <button id="botones2" type="button" class="btn btn" style="color:white; background-color:#212121;" (click)="navegarCarrito()">Ver carrito</button> 
      </ng-container>
      <ng-template #elseTemplate>
        <button id="botones" style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
        
        <button id="botones" style="background-color: #212121; border-color: #212121;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
      </ng-template>    
  </div>  
  </nav>
  
  <div class="col-md-10 col-sm-8 main-content">
    <h1>COMPRADO RECIENTEMENTE</h1>
    <section class="details-card" *ngFor="let producto of articulosArray;  let i = index">
      <hr/>
      <div  class="container-fluid mt-2 " style="background-color:#fff; "  >
        <div class="row"  >
           <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">       
             <img class="ml-5" src="{{producto.Imagen}}" width="250" height="270">
           </div>
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-2">
            <h4><p id="Texto" class="mr-5" style = "font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              {{producto.NombreProducto}}
            </h4>
            <h4><p id="Texto" class="mr-5" style = "font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              texto que se mostrara aqui
            </h4>
            <h4><p id="Texto" class="mr-5" style = "font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
              texto que se mostrara aqui
            </h4>
            </div>
        </div>
      </div>
      <hr/>
    </section> 
  </div>