<nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #ff9234" >
    <a class="navbar-brand"><img src="assets/talamas.png" alt="" style = "width: 100px; height:100px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
          <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Usuario
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ver carrito</a>
            <a class="dropdown-item" (click)="navegarConfiguracion()">Configuracion</a>
            <a class="dropdown-item" href="#">Soporte</a>
            <div class="dropdown-divider"></div>
            <a href="http://www.tiendatalamas.com/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
          </div>
        </li>
  
        <li class="nav-item active">
          <button type="button" class="btn btn-danger" style="color:white; border-color:#ff9234; background-color: #ff9234;" (click)="navegarInicio();">Inicio</button>
        </li>
        <li class="nav-item dropdown">
            <button type="button" class="btn btn-danger" style="color:white; border-color:#ff9234; background-color: #ff9234;" (click)="navegarLibreria();">Libreria</button>
              <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" style="color:white; border-color:#ff9234; background-color: #ff9234;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">Toggle Dropdown</span>
             </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let Subcategoria of articulosArray_Sub" (click)="navegarCategoria(Subcategoria.categoria, Subcategoria.SubCategoria)">{{Subcategoria.SubCategoria}}</a>
  
               </div>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger" style="color:white; border-color:#ff9234; background-color: #ff9234;" (click)="navegarMusica()">Musica</button>
        </li>
    </ul>
      
    
     <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
      <button id="botones2" type="button" class="btn btn" style="color:white; background-color:#0779e4;" (click)="navegarCarrito()">Ver carrito</button> 
      </ng-container>
      <ng-template #elseTemplate>
        <button id="botones" style="background-color: #0779e4; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button>
        
        <button id="botones" style="background-color: #0779e4; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
      </ng-template>    
  </div>  
  </nav>
  
  <div class="col-md-10 col-sm-8 main-content">
    <h1>COMPRADO RECIENTEMENTE</h1>
    <section class="details-card" *ngFor="let producto of articulosArray;  let i = index">
      <hr/>
      <div  class="container-fluid mt-2 " style="background-color:#fff; "  >
        <div class="row"  >
          <div id="img" class="col-xs-12 col-sm-8 col-md-3 col-lg-4 mt-3 mb-3">       
            <img class="ml-5" src="{{producto.Imagen}}" width="220" height="270">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 mt-2">
           <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
             Nombre del Producto:</p>
             <h4><p style="font-style:italic; color: #ccc;">{{producto.NombreProducto}}</p></h4>
           </h3>
           <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
             Precio del producto:</p>
             <h4><p style="font-style:italic; color: #ccc" > ${{producto.Precio}}</p></h4>
           </h3>
           <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
             Editorial o Modelo:</p>
             <h4><p style="font-style:italic; color: #ccc">{{producto.Propiedad4}}
               {{producto.Propiedad1}}</p>
             </h4>
           </h3>
           <h3><p id="Texto" class="mr-5" style = " font-family:Arial Narrow; padding:0px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left;">
            Fecha de compra:</p>
            <h4><p style="font-style:italic; color: #ccc">{{producto.FechaPago}}</p>
            </h4>
          </h3>
           </div>
       </div>
      </div>
      <hr/>
    </section> 
  </div>