.imgr:hover
{
    transform:translateY(-15px);
    transition:all 0.5s;
}

.imgr
{
    margin-top:20px;
}

.img0
{
    height:10px;
    margin-top:10px;

}

.img0:hover
{
    transform:translateY(-15px);
    transition:all 0.5s;
}

