<nav class="navbar navbar-expand-lg navbar-light" style = "background-color:#ff9234 ">
  <a class="navbar-brand"><img src="assets/logo.png" alt="" style = "width:250px; height:100px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"  *ngIf="_servicioCompartido.CompUsuario">
          <a class="nav-link dropdown-toggle" style="color:white; border-color: #0779e4;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Usuario
          </a>
          <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="navegarHistorial()">Historial de Compras</a>
            <a class="dropdown-item" (click)="navegarConfiguracion()">Configuracion</a>
            <a class="dropdown-item" href="#">Soporte</a>
            <div class="dropdown-divider"></div>
            <a href="http://localhost:4200/" class="dropdown-item" (click)="_servicioCompartido.cerrarSesion()">Cerrar Sesion</a>
          </div>
        </li>

        <li class="nav-item active">
          <button id="botones2" type="button" class="btn btn" style="color: white;" (click)="navegarInicio();">Inicio</button>
        </li>
        <li class="nav-item dropdown">
            <button id="botones2" type="button" class="btn btn" style="color:white;" (click)="navegarLibreria();">Libreria</button>
              <button id="botones2" type="button" class="btn btn dropdown-toggle dropdown-toggle-split" style="color: white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="sr-only">Toggle Dropdown</span>
             </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" *ngFor="let Subcategoria of articulosArray_Sub" (click)="navegarCategoria(Subcategoria.categoria, Subcategoria.SubCategoria)">{{Subcategoria.SubCategoria}}</a>
               </div>
        </li>
        <li class="nav-item">
          <button id="botones2" type="button" class="btn btn" style="color:white;" (click)="navegarMusica()">Musica</button>
        </li>
    </ul>

    <form [formGroup]="registroForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="cadena" [(ngModel)]="cadena" formControlName="cadena" placeholder="Escribe aqui para buscar" aria-label="Search">
      <button id="boton" class="btn my-2 my-sm-0" type="submit" style = "background-color:#0779e4; color:white" (click)="navegarBusqueda();">Buscar</button>
    </form>
    
   <ng-container *ngIf="_servicioCompartido.CompUsuario; else elseTemplate">
    <button id="botones2" type="button" class="btn btn" style="color:white; background-color:#0779e4; border-color: #0779e4;" (click)="navegarCarrito()">Ver carrito</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button id="boton" style="background-color:#0779e4; color:white; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarSesion();">Iniciar Sesión</button> 
      
      <button id="boton" style="background-color:#0779e4; color:white; border-color: #0779e4;" type="button" class="btn btn-primary"  (click)="navegarRegistro();">Registrarse</button>      
    </ng-template>    


    
</div>  
</nav>
<div style="overflow: hidden;">
<div style = "width: 100%; height: 3px; background-color: #212121;"></div>

<div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img class="d-block w-100" src="assets/compas.jpg" alt="First slide" height="500px">
    </div>
    <div class="carousel-item" *ngFor = "let slider of articulosArray_slider; let i = index" >
      <img class="d-block w-100" src="https://as.com/meristation/imagenes/2019/05/10/noticias/1557488952_649119_1557489075_noticia_normal.jpg" alt="First slide" height="500px">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next"> 
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div style = "width: 100%; height: 3px; background-color: #212121;"></div>


<!--Este div se mostrara solo en celular-->

<h1 id="deco" class="mr-5 ml-5" style="color: black; font-family: 'Ubuntu', sans-serif;">MAS VENDIDO</h1>
<hr id="deco" style="width:80%;"/>
<div class="Prueba mt-5 ml-5 mb-5 mr-5">

  <div class="row">
    <div *ngFor = "let reciente of articulosArray_Vendidos_Libros; let i = index">

      <div id="contenedor" class="container">
        <img src="{{reciente.Imagen}}" (click)= "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p class="ml-1 mt-1" style = "font-family:Helvetica; padding:0px 0px; overflow: hidden; text-align: center;">{{reciente.NombreProducto}}</p></h5>
      </div>

    </div>
  </div>
  </div>

  <!--AQUI EMPIEZA EL SLIDER DE INICIO-->
  <h1 id="textoPC" style = "color: black; text-align:center;">Mas Vendido</h1>
  <hr id="textoPC"/>

  <div class="container-fluid-ml-5">
    <div id="carouselExampleControls55" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <div class="row mb-4">
           <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros; let i = index">
  
            <img class="imgr" src="{{reciente.Imagen}}" style = "width: 250px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
            <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
            <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
            <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir al carrito</button> 
           </div>

        </div>
       </div>

       <div class="carousel-item">
        <div class="row mb-4">
        <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros2; let i = index">

         <img class="imgr" src="{{reciente.Imagen}}" style = "width: 200px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
         <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
         <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
         <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir al carrito</button> 
        </div>

     </div>
    </div>

       
    <div class="carousel-item">
      <div class="row mb-4">
      <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros3; let i = index">

       <img class="imgr" src="{{reciente.Imagen}}" style = "width: 200px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
       <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
       <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
       <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir al carrito</button> 
      </div>

   </div>
  </div>

            <a class="carousel-control-prev" href="#carouselExampleControls55" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleControls55" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
       </a>
    </div>
  </div>
  </div>
  <hr id="textoPC"/>

        <!--SEGUNDO SLIDER-->

        <h1 id="textoPC" style = "color: black; text-align:center;">Novedades</h1>
  <hr id="textoPC"/>
  <div class="container-fluid-ml-5">
    <div id="carouselExampleControls3" class="carousel slide" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <div class="row mb-4">
           <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros4; let i = index">
  
            <img class="imgr" src="{{reciente.Imagen}}" style = "width: 200px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
            <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
            <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
            <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir al carrito</button> 
           </div>

        </div>
       </div>

       <div class="carousel-item">
        <div class="row mb-4">
        <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros5; let i = index">

         <img class="imgr" src="{{reciente.Imagen}}" style = "width: 200px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
         <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
         <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
         <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir al carrito</button> 
        </div>

     </div>
    </div>

       
    <div class="carousel-item">
      <div class="row mb-4">
      <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros6; let i = index">

       <img class="imgr" src="{{reciente.Imagen}}" style = "width: 200px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
       <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
       <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
       <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir al carrito</button> 
      </div>

   </div>
  </div>

            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
       </a>
    </div>
  </div>
  </div>

  <!--Aqui Termina lo de libreria, sigue musica-->

  <div class="banner-breadcum section">
    <div class="row">
        <div class="breadcrumb-image" style="background-image: url(https://cdn.shopify.com/s/files/1/0253/8618/8834/articles/guitarra_efc51b91-b078-40f7-8fe3-8c777bd84635.jpg?v=1566272689);">
        <div class="container text-center">
            <h1>¿Que tal un poco de musica?</h1>
                <div class="breadcrumbs_path">
                    <a (click)="navegarMusica()">Musica</a> - Para que el mundo este mejor, debes sonar mejor
                </div>      
        </div>
    </div>
      </div>
    </div>
     <!--Este se mostrara solo en celular-->

     <h1 id="deco" class="mr-5 ml-5" style="color: black;">INSTRUMENTOS MAS VENDIDOS</h1>
      <hr id="deco" style="width:80%;"/>
      <div class="Prueba mt-5 ml-5 mb-5 mr-5">

        <div class="row">
          <div *ngFor = "let reciente of articulosArray_Vendidos_Libros2; let i = index">
      
            <div id="contenedor" class="container">
              <img src="{{reciente.Imagen}}" (click)= "masInformacion(reciente.IdProducto, reciente.Categoria)">
              <h5><p id="textoCEL" class="ml-1 mt-1">{{reciente.NombreProducto}}</p></h5>
            </div>
      
          </div>
        </div>
        </div>
  
 <!--Segundo Slider-->
 <h1 style = "color: black; text-align:center;">Instrumentos</h1>
 <hr/>
 <div class="container-fluid-ml-5">
  <div id="carouselExampleControls2" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active">
         <div class="row mb-4">
         <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros; let i = index">

          <img class="imgr" src="{{reciente.Imagen}}" style = "width: 250px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
          <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
          <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
          <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Añadir al carrito</button> 
         </div>

      </div>
     </div>

     <div class="carousel-item">
      <div class="row mb-4">
      <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros2; let i = index">

       <img class="imgr" src="{{reciente.Imagen}}" style = "width: 200px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
       <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
       <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
       <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary">Añadir al carrito</button> 
      </div>

   </div>
  </div>

     
  <div class="carousel-item">
    <div class="row mb-4">
    <div id="imagen" class="col-xs-12 col-md-6 col-lg-3" *ngFor = "let reciente of articulosArray_Vendidos_Libros3; let i = index">

     <img class="imgr" src="{{reciente.Imagen}}" style = "width: 200px; height: 300px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
     <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
     <h5><p id="textomas" class="mr-5 mt-4">${{reciente.Precio}}</p></h5>
     <button id="Botoncarrito" style="background-color: #0779e4; border-color: #0779e4;" type="button" (click)="anadirAlCarrito(reciente.IdProducto)" class="btn btn-primary">Añadir al carrito</button> 
    </div>

 </div>
</div>

          <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
     </a>
  </div>
</div>
</div>

  
  <div class="banner-breadcum section">
    <div class="row">
        <div class="breadcrumb-image" style="background-image: url(https://scontent.fntr2-1.fna.fbcdn.net/v/t1.0-9/s960x960/87014942_567361087190408_7383109980813000704_o.jpg?_nc_cat=111&_nc_sid=2d5d41&_nc_eui2=AeGAkd4JZ80WSlVNodO7hjdz1oqOsHylfmHWio6wfKV-YS2WdC5GVZfUbBbM1_ODRQ6Bu5DYdWm5kjCQmUUOB0pD&_nc_ohc=Sh1BRfUg2_EAX-bfs53&_nc_ht=scontent.fntr2-1.fna&_nc_tp=7&oh=b0a53d789c7a008c5ff3dff51cda1382&oe=5F116868);">
        <div class="container text-center">
            <h1>Todo para tu telefono justo aqui</h1>
                <div class="breadcrumbs_path">
                    <a href="#">accesorios</a> - !PROXIMAMENTE PAGINA DE T7!
                </div>      
        </div>
    </div>
      </div>
    </div>

<!--AQUI ES EL CODIGO DEL MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">TIENDA TALAMAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{respuesta}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"style="background-color:red; border-color:red;">Aceptar</button>
      </div>
    </div>
  </div>
</div>
</div>


<router-outlet></router-outlet>




