<div style="overflow: hidden; ">

<div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" style="margin-bottom:30px;">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img width="100%" style="cursor: pointer;" src="assets/bannerSDM.jpg" (click)="navegarSesion()" fallimg alt="First slide" >
    </div>
    <div class="carousel-item">
      <img fallimg style="width: 100%;   cursor: pointer;" src="assets/banneric.png" (click)="masInformacion('9786073198042', 'Libros')" fallimg alt="First slide"> 
    </div>

    <div class="carousel-item">
      <img fallimg style="width: 100%;   cursor: pointer;" src="assets/sol.png" (click)="masInformacion('9786073198080', 'Libros')" fallimg alt="First slide"> 
    </div>

    <div class="carousel-item">
      <img fallimg style="width: 100%;  cursor: pointer;" (click)= "masInformacion('9786070769238', 'Libros')" fallimg fallimg src="assets/compasbanner.jpg" alt="First slide">
    </div>

  </div>
  <a class="carousel-control-prev my-5" href="#carouselExampleControls1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon my-5" aria-hidden="true"></span>
    <span class="sr-only my-5">Previous</span>
  </a>
  <a class="carousel-control-next my-5" href="#carouselExampleControls1" role="button" data-slide="next"> 
    <span class="carousel-control-next-icon my-5" aria-hidden="true"></span>
    <span class="sr-only my-5">Next</span>
  </a>
</div>
<br>
<br>
<div id="columnamala" class="container">

</div>


  <div id="carouselExampleControls66" class="carousel slide"  data-interval="false">
    <div class="carousel-inner" id="nomostrar">
      <div class="carousel-item active">
        <div class="row mx-2">
          <div class="col-4">
            <img (click)="navegarLibreria();" src="assets/librosInicio.JPG" class="img-fluid cursorMano" fallimg fallimg style="cursor: pointer;" alt="">                                                                                  
          </div>
          <div class="col-4" >
            <img (click)="navegarMusica();" src="assets/musicaInicio.jpg" class="img-fluid cursorMano" fallimg fallimg style="cursor: pointer;" alt="">
          </div>
          <div class="col-4" >
            <img (click)="navegarJuegos();" src="assets/juegosInicio.jpg" class="img-fluid cursorMano" fallimg fallimg style="cursor: pointer;" alt="">
          </div>
        </div>
     </div>


  </div>
  </div>

  <!--Botones para celular-->
  <div id="pequebanners2" >
    <div class="row">
      <div class="col-4  mb-3">
      <img (click)="navegarLibreria()" src="assets/LIBROS.png" width="100px">
        <p id="nombreNav" class="text-center">LIBRERIA</p>
      </div>
      <div class="col-4  mb-3">
        <img (click)="navegarMusica()" src="assets/MUSICA.png" width="100px">
        <p id="nombreNav" class="text-center">MUSICA</p>
        </div>
      <div class="col-4  mb-3">
        <img (click)="navegarJuegos()" src="assets/JUEGOS.png" width="100px">
        <p id="nombreNav" class="text-center">JUEGOS</p>
      </div>
    </div>
    </div>

<!--Este div se mostrara solo en celular-->
<div id="pequebanners2" >
  <div class="row">
    <div class="col-12 mt-2 mb-2">

          <img fallimg class="img-fluid" src="assets/sobrino.jpg" style="cursor: pointer;"(click)="navegarJuegos();" alt="">

    </div>
    </div>
  </div>

<hr id="deco" style="width:100%;"/>
<h5 id="deco" class="text-center" style="font-weight: 700; font-family: 'Oswald', sans-serif; color: #243966;">MAS VENDIDO</h5>
<hr id="deco" style="width:100%;"/>
  <div id="carouselExampleControls20" class="carousel slide" data-ride="carousel" style="width:300px; display: block; margin:0 auto;">
    <div class="carousel-inner" id="mostrarencelular">
      <div class="carousel-item active" >
        <div class="row">
          <div class="col-6"  *ngFor = "let reciente of masVendido; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item " >
        <div class="row">
          <div class="col-6" *ngFor = "let reciente of masVendidosCelular1; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item " >
        <div class="row">
          <div class="col-6" *ngFor = "let reciente of masVendidosCelular2; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item " >
        <div class="row">
          <div class="col-6" *ngFor = "let reciente of masVendidosCelular3; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item " >
        <div class="row">
          <div class="col-6" *ngFor = "let reciente of masVendidosCelular4; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item " >
        <div class="row">
          <div class="col-6" *ngFor = "let reciente of masVendidosCelular5; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item " >
        <div class="row">
          <div class="col-6" fallimg *ngFor = "let reciente of masVendidosCelular6; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item " >
        <div class="row">
          <div class="col-6" *ngFor = "let reciente of masVendidosCelular7; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
      <div class="carousel-item" >
        <div class="row">
          <div class="col-6" *ngFor = "let reciente of masVendidosCelular; let i = index">
        <img  width="140px" fallimg height="215px" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
        <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="125px"/>
          </div>
    </div>
      </div>
    </div>
    <a class="flecha carousel-control-prev my-5" id="mostrarencelular" href="#carouselExampleControls20" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon my-5" aria-hidden="true"></span>
      <span class="sr-only my-5">Previous</span>
    </a>
    <a class="carousel-control-next my-5" id="mostrarencelular" href="#carouselExampleControls20" role="button" data-slide="next"> 
      <span class="carousel-control-next-icon my-5" aria-hidden="true"></span>
      <span class="sr-only my-5">Next</span>
    </a>
  </div>

  <div id="pequebanners2" >
    <div class="row">
      <div class="col-12 mt-5 mb-2">
  
            <img fallimg class="img-fluid" src="assets/bannerit.jpg" style="cursor: pointer;" alt="">
  
      </div>
      </div>
    </div>

  <!--AQUI EMPIEZA EL SLIDER DE INICIO-->
  <div>
    <hr id="textoPC" width="100%" color="#eeeeee" style="margin-top: 5%;"/>
  <h3 id="textoPC" style = "color: #252850; text-align:center;  margin-top: 0px; margin-bottom: 0px;">MAS VENDIDOS</h3>
  <hr id="textoPC" width="100%" color="#eeeeee" style="margin-bottom: 3%;"/>
  </div>
    <div class="container-fluid-ml-5" >
      <div id="carouselExampleControls3" class="carousel slide" data-interval="false">
        <div class="carousel-inner" id="nomostrar">
          <div class="carousel-item active">
             <div class="row mb-4">
             <div id="imagen" class="col-xs-12 col-md-6 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros4; let i = index">
    
              <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
              <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
              <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
              <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
              <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
            </div>
  
          </div>
         </div>
  
         <div class="carousel-item">
          <div class="row mb-4">
          <div id="imagen" class="col-xs-12 col-md-6 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros5; let i = index">
  
           <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width:140px; height:215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
           <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
           <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
           <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
           <img fallimg class="ml-1" style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="150px"/>
          </div>
    
          </div>

        </div>
        <div class="carousel-item">
          <div class="row mb-4">
          <div id="imagen" class="col-xs-12 col-md-6 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros6; let i = index">
  
            <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width:140px; height:215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
            <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
            <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
            <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
            <img fallimg class="ml-1" style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="150px"/>
           </div>
    
          </div>

        </div>


        <a class="carousel-control-prev" id="nomostrar" href="#carouselExampleControls3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
         </a>

         <a class="carousel-control-next" id="nomostrar" href="#carouselExampleControls3" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
    </a>
       </div>
      </div>
  
         
      <div class="carousel-item">
        <div class="row mb-4">
        <div id="imagen" class="col-sm-4 col-md-4 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros6; let i = index">
  
         <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width: 140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
         <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
         <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
         <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
         <img fallimg class="ml-1" style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="150px"/>
        </div>
  
     </div>
    </div>

       
    <div class="carousel-item">
      <div class="row mb-4">
      <div id="imagen" class="col-xs-12 col-md-6 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros3; let i = index">

       <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width: 140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
       <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
       <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
       <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
       <img fallimg class="ml-1" style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="150px"/>
      </div>
    </div>
    </div>

      
   <div id="carouselExampleControls4" class="carousel slide" data-interval="false">
      <div class="carousel-inner" id="DUCTOS">
        <div class="carousel-item active">
           <div class="row mb-4">
           <div id="imagen" class="col-xs-2 col-md-3 col-lg-2" *ngFor="let reciente of masVendidosTablets">
  
            <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
            <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
           <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
            <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
            <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
          </div>



        </div>
       </div>
       <div class="carousel-item">
        <div class="row mb-4">
        <div id="imagen" class="col-xs-2 col-md-3 col-lg-2" *ngFor="let reciente of masVendidosTablets2">

         <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
         <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
         <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
         <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
       </div>



     </div>
    </div>
    <div class="carousel-item">
      <div class="row mb-4">
      <div id="imagen" class="col-xs-2 col-md-3 col-lg-2" *ngFor="let reciente of masVendidosTablets3">

       <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
       <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
      <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
       <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
       <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
     </div>



   </div>
  </div>
  <div class="carousel-item">
    <div class="row mb-4">
    <div id="imagen" class="col-xs-2 col-md-3 col-lg-2" *ngFor="let reciente of masVendidosTablets4">

     <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
     <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
    <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
     <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
     <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
   </div>



 </div>
</div>
      <a class="carousel-control-prev" id="DUCTOS" href="#carouselExampleControls4" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
       </a>

       <a class="carousel-control-next" id="DUCTOS" href="#carouselExampleControls4" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
  </a>
     </div>
    </div>

        <!--SLIDER QUE MOSTRARA 3 PRODUCTOS
        <div id="carouselExampleControls5" class="carousel slide" data-interval="false">
          <div class="carousel-inner" id="DUCTOS2">
            <div class="carousel-item active">
               <div class="row mb-4">    
              <div id="imagen" class="col-xs-2 col-md-4">
      
                <img fallimg class="imgr" src="https://www.elsotano.com/imagenes/9786070/978607072916.JPG" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
                <h5><p id="textomas" class="mr-5 mt-4">Hola</p></h5>
                <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
                <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
                <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" id="imagencarrito"  data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
              </div>
    
              <div id="imagen" class="col-xs-2 col-md-4">
      
                <img fallimg class="imgr" src="https://www.elsotano.com/imagenes/9786070/978607072916.JPG" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
                <h5><p id="textomas" class="mr-5 mt-4">Hola</p></h5>
                <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
                <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
                <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" id="imagencarrito"  data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
              </div>
    
              <div id="imagen" class="col-xs-2 col-md-4">
      
                <img fallimg class="imgr" src="https://www.elsotano.com/imagenes/9786070/978607072916.JPG" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
                <h5><p id="textomas" class="mr-5 mt-4">Hola</p></h5>
                <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
                <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
                <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" id="imagencarrito" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
              </div>
            </div>
           </div>
    
          <a class="carousel-control-prev" id="DUCTOS2" href="#carouselExampleControls5" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
           </a>
    
           <a class="carousel-control-next" id="DUCTOS2" href="#carouselExampleControls5" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
      </a>
         </div>
        </div>-->

                <!--SLIDER QUE MOSTRARA 2 PRODUCTOS
                <div id="carouselExampleControls6" class="carousel slide" data-interval="false" style="width:500px; display: block; margin: 0 auto;">
                  <div class="carousel-inner" id="DUCTOS4">
                    <div class="carousel-item active">
                       <div class="row mb-4">    
                      <div id="imagen" class="col-xs-2 col-md-6">
                        <img fallimg class="imgr" src="https://www.elsotano.com/imagenes/9786070/978607072916.JPG" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
                        <h5><p id="textomas" class="mr-5 mt-4">Hola</p></h5>
                        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
                        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
                        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
                      </div>
            
                      <div id="imagen" class="col-xs-2 col-md-6">
              
                        <img fallimg class="imgr" src="https://www.elsotano.com/imagenes/9786070/978607072916.JPG" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
                        <h5><p id="textomas" class="mr-5 mt-4">Hola</p></h5>
                        <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
                        <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
                        <img fallimg style="cursor: pointer;  display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
                      </div>
                    </div>
                   </div>
            
                  <a class="carousel-control-prev" id="DUCTOS3" href="#carouselExampleControls6" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                   </a>
            
                   <a class="carousel-control-next" id="DUCTOS3" href="#carouselExampleControls6" role="button" data-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
              </a>
                 </div>
                </div>-->
  
  <div id="pequebanners" >
  <div class="row">
    <div class="col-4">
          <img fallimg class="img-fluid" src="assets/bannermer.jpg" style="cursor: pointer;" alt="">
    </div>
    <div class="col-4">

          <img fallimg class="img-fluid" src="assets/sobrino.jpg" style="cursor: pointer;"(click)="navegarJuegos();" alt="">


    </div>
    <div class="col-4">
          <img fallimg class="img-fluid" src="assets/bannerit.jpg" style="cursor: pointer;"  alt="" >
      </div>
    </div>
  </div>

        <!--SEGUNDO SLIDER-->
        <div>
          <hr id="textoPC" width="100%" color="#eeeeee" style="margin-top: 5%;"/>
        <h3 id="textoPC" style = "color: #252850; text-align:center;  margin-top: 0px; margin-bottom: 0px;">NOVEDADES</h3>
        <hr id="textoPC" width="100%" color="#eeeeee" style="margin-bottom: 3%;"/>
        </div>
        <div class="container-fluid-ml-5">
          <div id="carouselExampleControls55" class="carousel slide" data-interval="false">
            <div class="carousel-inner" id="nomostrar">
              <div class="carousel-item active">
                 <div class="row mb-4">
                 <div id="imagen" class="col-xs-12 col-md-6 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros; let i = index">
        
                  <img fallimg class="imgr cursorMano" src="{{reciente.Imagen}}" style = "width:140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
                  <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
                  <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
                  <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
                  <img  style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" src="assets/anadirCarrito.png" width="150px"/>
                </div>
      
              </div>
             </div>
      
             <div class="carousel-item">
              <div class="row mb-4">
              <div id="imagen" class="col-xs-12 col-md-6 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros2; let i = index">
      
               <img fallimg class="imgr cursorMano" src="{{reciente.Imagen}}" style = "width:140px; height:215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
               <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
               <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
               <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5> 
               <img fallimg style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="150px"/>
              </div>
      
           </div>
          </div>
      
             
          <div class="carousel-item">
            <div class="row mb-4">
            <div id="imagen" class="col-xs-12 col-md-6 col-lg-2" *ngFor = "let reciente of articulosArray_Vendidos_Libros3; let i = index">
      
             <img fallimg class="imgr" src="{{reciente.Imagen}}" style = "width: 140px; height: 215px; display: block; margin: 0 auto;" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)">
             <h5><p id="textomas" class="mr-5 mt-4">{{reciente.NombreProducto}}</p></h5>
             <h5><p id="textomas3" class="mr-5 mt-4">{{reciente.Propiedad2}}</p></h5>
             <h5><p id="textomas2" class="mr-5 mt-2">${{reciente.Precio |  number:'1.2-2'}}</p></h5>
             <img fallimg style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="150px"/>
            </div>
            
      
         </div> 
        </div>
      
                  <a class="carousel-control-prev" id="nomostrar" href="#carouselExampleControls55" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                  </a>
      
                  <a class="carousel-control-next" id="nomostrar" href="#carouselExampleControls55" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
             </a>
          </div>
        </div>
        </div>

  <!--Aqui Termina lo de libreria, sigue musica-->
  <div id="pequebanners">
  <h3 id="textoPC-1" style = "color: #252850; text-align:left;  margin-top: 0px; margin-bottom: 0px;">LO MEJOR EN MUSICA</h3>
  <hr id="textoPC-1" width="100%" color="#eeeeee" style="margin-bottom:1%"/>
  </div>
  <div class="container mb-5" id="pequebanners">
    <div class="row">
      <div class="col-sm-4 col-xs-4 col-lg-2" *ngFor="let discos of articulosArray_Vendidos_Discos">
        <img fallimg src="{{discos.Imagen}}" class="img-fluid imgr" width="100%" style="min-height: 45%; max-height:45% ;" alt="" (click) = "masInformacion(discos.IdProducto, discos.Categoria)">                                                                                  
        <h5><p id="textomas" class="mt-4">{{discos.NombreProducto}}</p></h5>
        <h5><p id="textomas3" class="mr-5 mt-4">{{discos.Propiedad2}}</p></h5>
        <h5><p id="textomas2" class="mr-5 mt-2">${{discos.Precio | number:'1.2-2'}}</p></h5>
        <img  style="cursor: pointer; display: block; margin: 0 auto;" (click)="anadirAlCarrito(discos.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="150px"/>

      </div>
    </div>
  </div>
  
  <div class="container" id="pequebanners">
    <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img fallimg style="cursor: pointer; display: block; margin: 0 auto; width: 100%;" (click)= "masInformacion('9786073197489', 'Libros')" src="assets/contigobanner.jpg" alt="First slide">
        </div>
      </div>
    </div>
  </div>

  <!--Esto se mostrara en celular-->
  <div id="pequebanners2">
       <hr/>
       <h5 class="text-center" style="font-weight: 700; font-family: 'Oswald', sans-serif; color: #243966;">Novedades</h5>
       <hr/>
  </div>
    <div class="row" *ngFor = "let reciente of articulosArray_Vendidos_Libros; let i = index" id="pequebanners2">
      <div class="col-4 mt-4 "><img fallimg class="img-fluid" src="{{reciente.Imagen}}" (click) = "masInformacion(reciente.IdProducto, reciente.Categoria)" width="200px" alt=""></div>
      <div class="col-8 mt-4" style="text-transform:uppercase;">
        <span style="font-weight: 700;   font-family: 'Oswald', sans-serif; color: #333333;">
        {{reciente.NombreProducto}}
        </span>  
        <br>
        <span style="color:#9e9e9e; font-family: 'Oswald', sans-serif; font-weight: 300;">
          {{reciente.Propiedad1}}
          </span>
          <br>
          <span style="color: #76aadb;   font-family: 'Oswald', sans-serif; font-weight: 700;">
          ${{reciente.Precio |  number:'1.2-2'}}
          </span>
          <br>
        <img fallimg class="mt-4" style="cursor: pointer;" (click)="anadirAlCarrito(reciente.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="100px"/>
      </div>
    </div>

    <div id="pequebanners2" >
      <div class="row">
        <div class="col-12 mt-5 mb-2">
              <img fallimg class="img-fluid" src="assets/bannermer.jpg"  style="cursor: pointer;" alt="">
        </div>
        </div>
      </div>

      <div id="pequebanners2">
        <hr/>
        <h5 class="text-center" style="font-weight: 700; font-family: 'Oswald', sans-serif; color: #243966;">LO MEJOR EN MUSICA</h5>
        <hr/>
   </div>
     <div class="row" *ngFor="let discos of articulosArray_Vendidos_Discos"  id="pequebanners2">
       <div class="col-4 mt-4 "><img fallimg class="img-fluid" src="{{discos.Imagen}}" (click) = "masInformacion(discos.IdProducto, discos.Categoria)" width="200px" alt=""></div>
       <div class="col-8 mt-4" style="text-transform: uppercase;">
        <span style="font-weight: 700; font-family: 'Oswald', sans-serif; color: #333333;">
         {{discos.NombreProducto}}
        </span>
           <br>
           <span style="font-weight:300; font-family: 'Oswald', sans-serif; color: #9e9e9e;">
           {{discos.Propiedad2}}
           </span>
           <br>
           <span style="font-weight: 700; font-family: 'Oswald', sans-serif; color: #76aadb;">
           ${{discos.Precio |  number:'1.2-2'}}
           </span>
           <br>
         <img  style="cursor: pointer;" (click)="anadirAlCarrito(discos.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="100px"/>
       </div>
     </div>

 
<!--AQUI ES EL CODIGO DEL MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">TIENDA TALAMAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a style="color: black;">{{respuesta}}</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"style="background-color:#81b214; border-color:#81b214;" (click)="navegarSesion()" *ngIf="noRegistrado">Iniciar Sesion</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"style="background-color:#81b214; border-color:#81b214;" *ngIf="noRegistrado">Mas Tarde</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"style="background-color:#81b214; border-color:#81b214;" *ngIf="!noRegistrado">Aceptar</button>
     
      </div>
    </div>
  </div>
</div>
</div>
</div>


<router-outlet></router-outlet>





