<!--
<div class="container">
  <h1>Lo mas vendido</h1>
    <section class="main row">
      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <img class="seccion" src="assets/harry.jpg" width="250" height="300">
      </aside>

      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img class="seccion" src="assets/star.jpg" width="250" height="300">

      </aside>

      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img class="seccion" src="assets/hambre.jpg" width="250" height="300">

      </aside>

      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img class="seccion" src="assets/anillo.jpg" width="250" height="300">

      </aside>
    </section>
</div>
-->

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
<img src="assets/anillo.jpg">
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
  <img src="assets/anillo.jpg">
</div>

</div>
</div> 




<!--
<div class="container">
  <h1>Lo mas vendido</h1>
    <section class="main row">
      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
          <img src="assets/harry.jpg" width="250" height="300">
      </aside>

      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="assets/star.jpg" width="250" height="300">

      </aside>

      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="assets/hambre.jpg" width="250" height="300">

      </aside>

      <aside class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="assets/anillo.jpg" width="250" height="300">

      </aside>
        

    
    </section>

</div>
-->



























<router-outlet></router-outlet>