.carousel-control-next, .carousel-control-prev{
	width: 1% !important;
}

h1
{
	color:#fff;
	margin:40px 0 60px 0;
	font-weight:300;
}


.carousel-control-prev-icon
{
	
	
	position: absolute;
	background-color:#fff;
	height: 100px;
	line-height: 100px;
	width: 30px;
	text-align: center;
	box-shadow: 0 1px 3px #888;
	left: 0px;
	clip: rect(-10px,55px,110px,0);
	padding-right: 5px;
	border-radius: 0 3px 3px 0;
	
	
}

.carousel-control-next-icon
{
	position: absolute;
	background-color: #fff;
	height: 100px;
	line-height: 100px;
	width:30px;
	text-align: center;
	box-shadow: 0 1px 3px #888;
	right: 0px;
	clip: rect(-10px,55px,110px,0);
	padding-right: 5px;
	border-radius: 0 3px 3px 0;

	

}



.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }

   .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

  button
{
    margin-right: 20px;
}

  

  