<!--div style="overflow:hidden">
  <div *ngFor="let producto of productos" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="brand" content="{{producto.Propiedad4}}">
    <meta itemprop="name" content="{{producto.NombreProducto}}">
    <meta itemprop="description" content="{{producto.Descripcion}}">
    <meta itemprop="productID" content="{{producto.IdProducto}}">
    <meta itemprop="url" content="https://Tiendatalamas.com/Venta/Libros/{{producto.IdProducto}}">
    <meta itemprop="image" content="{{producto.Imagen}}">
    <div itemprop="value" itemscope itemtype="http://schema.org/PropertyValue">
    </div>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <link itemprop="availability" href="http://schema.org/InStock">
      <link itemprop="itemCondition" href="http://schema.org/NewCondition">
      <meta itemprop="price" content="{{producto.Precio}}">
      <meta itemprop="priceCurrency" content="MXN">
    </div>
  </div>
</div>-->
<!--PRODUCTOS DE EMD LA CONCHA DE TU MADRE-->
<div *ngIf="EMD">
  <div  *ngFor="let producto of productos" >
    <div class="row mx-5">
      <div class=" mx-lg-0 col-sm-12 col-lg-4 col-md-6">
       <img fallimg width="100%" src="{{producto.Imagen}}">
        </div>
      <div class="col-lg-8 col-md-6 col-sm-12" style="border: 2px solid #dddddd;">
        <div style="margin-left: 3%;">
        <div class="row">
            <h2 id="titulo">{{producto.NombreProducto}}</h2>
          </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
          <h1 id="precio"> ${{producto.Precio | number:'1.2-2'}}</h1>
        </div>
        <div class="row">
          <strong><h5 id="cel" style="color: black;"></h5></strong><h5 style="font-weight: 700; color:#76aadb;"> {{producto.IdProducto}}</h5>
        </div>

        <div *ngIf="personalizado" id="main">
          <div class="row">
            <h5>Para personalizado comunicarse por:</h5>
            </div>
           <div class="row">
            <a href="https://api.whatsapp.com/send?phone=+528673076039"><button type="button" class="btn" style="background-color:#00bb2d; color: white;">Whatsapp<span class="ml-1"><img src="https://www.flaticon.es/svg/static/icons/svg/1383/1383336.svg" width="25px"></span></button></a>
             </div>
               </div>

        <hr style="background-color: #dddddd;"/>
        <ng-container *ngIf="disponible; else elseTemplate">
          <div *ngIf="personalizado">
          <div class="row" style="padding: 20px;">
            <div class="col-lg-12 col-md-12 col-sm-12" style="color:black ; font-weight: 700; font-size: large;" >
              CANT : <input  style="border-radius: 100%; width:30px ; height:30px; font-size: medium; text-align: center;"  placeholder="{{Cantidad}}"><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left:5px ; font-weight: 800; cursor:pointer;"(click)="aumentarCantidad()">+</button><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left: 5px; font-weight: 800; cursor: pointer;" (click)="disminuirCantidad()">-</button>
          </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6 col-sm-6">
              <img fallimg class="my-auto ml-3" style="cursor: pointer;"   id="imagencarrito" src="assets/botonComprar.png" (click)="navegarCompra(producto.IdProducto)" width="155px"/>
           </div>
            <div class="col-6 col-md-6 col-sm-6">
              <img fallimg class="mt-1" style="cursor: pointer;" (click)="anadirAlCarrito(producto.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="155px"/>
            </div>
            </div>
          </div>
          <div *ngIf="!personalizado">
            <div class="row" style="padding: 20px;">
              <div class="col-lg-12 col-md-12 col-sm-12" style="color:black ; font-weight: 700; font-size: large;" >
                CANT : <input  style="border-radius: 100%; width:30px ; height:30px; font-size: medium; text-align: center;"  placeholder="{{Cantidad}}"><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left:5px ; font-weight: 800;"(click)="aumentarCantidad()">+</button><button style="border-radius: 100%; width:30px ; height:30px; font-size: medium; margin-left: 5px; font-weight: 800;" (click)="disminuirCantidad()">-</button>
            </div>
            </div>
            <div class="row">

              <div class="col-6 col-md-6 col-sm-6">
                <img fallimg class="my-auto ml-3" style="cursor: pointer;"  id="imagencarrito" src="assets/botonComprar.png" (click)="navegarCompra(producto.IdProducto)" width="155px"/>
             </div>
              <div class="col-6 col-md-6 col-sm-6">
                <img fallimg class="mt-1" style="cursor: pointer;" (click)="anadirAlCarrito(producto.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="155px"/>
              </div>
              </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <div *ngIf="!personalizado" class="d-flex justify-content-center align-items-center" id="main">
            <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Lo sentimos</h1>
            <div class="inline-block align-middle">
              <h2 class="font-weight-normal lead" id="desc">No disponible por el momento.</h2>
            </div>
        </div>
        <div *ngIf="personalizado" class="d-flex justify-content-center align-items-center" id="main">
          <div class="row">
            <h5>Personalizado por:</h5>
            </div>

           <div class="row">
            <a href="https://api.whatsapp.com/send?phone=+528673076039"><button type="button" class="btn" style="background-color:#00bb2d; color: white;">Whatsapp</button></a>
             </div>
               </div>
        </ng-template>
        <hr/>
        <div class="row">
          <h2 id="descripcion">Lo que tienes que saber de este producto</h2>
        </div>
        <div class="row">
          <p style="font-weight: 300; color:gray; text-align: justify;" [innerHTML]="producto.Descripcion"></p>
        </div>
        </div>
    </div>
    </div>
    </div>

</div>

<!--AQUI EMPIEZA INSTRUMENTOS Y PRODUCTOS APARTE LA CONCHA DE TU MADRE-->
<div *ngIf="!P1">
  <div *ngIf="!EMD">
<div  *ngFor="let producto of productos" >
<div class="row mx-5">
  <div class=" mx-lg-0 col-sm-12 col-lg-6 col-md-6">
    <div class="preview-pic tab-content">
      <div class="tab-pane active" id="pic-10"> <app-zoom [img]="imagenActual" [zoom]="2" [lenSize]="200" [imgWidth]="100"   [divZoomed]="divZoomed" ></app-zoom></div>
    </div>
<hr style="background-color: #dddddd;">
  <ul class="preview-thumbnail nav nav-tabs">
    <li style="cursor: pointer;"  class="active"><a data-target="#pic-10" (click)="cambiarImagen(imagenPorDefault)" data-toggle="tab"><img fallimg src="{{imagenPorDefault}}" /></a></li>
    <li *ngFor="let imagen of imagenesInstrumentos; let i = index"><a (click)="cambiarImagen(imagen.Imagen)" data-target="#pic-{{i}}" data-toggle="tab"><img fallimg style="cursor: pointer;"  src="{{imagen.Imagen}}" /></a></li>
  </ul>
     </div>
  <div class="col-lg-6 col-md-6" id="margen" style="border: 2px solid #a7292954; border-radius: 5px;">
    <div style="margin-left: 3%;">
    <div class="row" style="margin-top: 1%;">
      <div #divZoomed class="img-zoom-result"  ></div>
        <h2 id="titulo">{{producto.NombreProducto}}</h2>
      </div>
    <div class="row" *ngIf="negocio">
        <p style="font-weight: 300; color:gray; cursor: pointer;" (click)="navegarNegocio()">{{producto.Propiedad4}}</p>
    </div>

    <div class="row">
      <h1 id="precio"> ${{producto.Precio | number:'1.2-2' }}</h1>
    </div>

    <ng-container *ngIf="disponible; else elseTemplate">

     <div class="container" *ngIf="variantesD">
      <h2 id="textoVariantes">Variantes</h2>
      <div class="row">

              <div *ngFor="let variante of variantes" class="ml-2" style="  width: 50px; height:50px; border-radius: 5px; padding:5px; border: 1px solid #dddddd; cursor: pointer;">

                <img fallimg style="display: block; margin: 0 auto;" src="{{variante.Imagen}}">

              </div>

     </div>
     </div>
     <hr style="background-color: #dddddd;"/>
     <div class="container">
       <label for="inputCant">Cantidad</label>
      <div class="row justify-content-center">
          <div class="control">
            <button (click)="disminuirCantidad()" id="botonMenos" class="btn-decrease"><i id="simboloCant" class="fa fa-minus" aria-hidden="false"></i></button>
            <input  type="text" name="inputCant" id="inputCant" maxlength="12" class="input-text" placeholder="{{Cantidad}}" readonly style="width:100px;">
            <button (click)="aumentarCantidad()" id="botonMenos"class="btn-increase"><i id="simboloCant" class="fa fa-plus" aria-hidden="false"></i></button>
          </div>
      </div>
    </div>
    <hr style="background-color: #dddddd;"/>
        <div class="row">
          <div class="col-6 col-md-6 col-sm-6">
            <img fallimg class="my-auto ml-3" style="cursor: pointer;"   id="imagencarrito" src="assets/botonComprar.png" (click)="navegarCompra(producto.IdProducto)" width="155px"/>
         </div>
          <div class="col-6 col-md-6 col-sm-6">
            <img fallimg class="mt-1" style="cursor: pointer;" (click)="anadirAlCarrito(producto.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="155px"/>
          </div>
         </div>
    </ng-container>

    <ng-template #elseTemplate>
      <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Lo sentimos</h1>
        <div class="inline-block align-middle">
          <h2 class="font-weight-normal lead" id="desc">No disponible por el momento.</h2>
        </div>
    </div>

    </ng-template>



    <hr style="background-color: #dddddd;"/>
    <div class="row">
      <h2 id="descripcion">Lo que tienes que saber de este producto</h2>
    </div>
    <div class="row">
      <p style="font-weight: 300; color:gray; text-align: justify;" [innerHTML]="producto.Descripcion"></p>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-------->

<!--AQUI EMPIEZA EL DE LIBROS LA CONCHA DE TU MADRE-->
<div *ngIf="P1">
<div  *ngFor="let producto of productos" >
  <div class="row mx-5">
    <div class="col-sm-12 col-lg-6 col-md-6">
     <img fallimg width="100%" src="{{producto.Imagen}}" style="display: block; margin: 0 auto;">
      </div>
    <div class="col-lg-6 col-md-6 col-sm-12" id="margen" style="border: 2px solid #dddddd; border-radius: 5px; padding:20px;">
      <div class="row">
          <h2 id="titulo">{{producto.NombreProducto}}</h2>
        </div>
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
        <h1 id="precio"> ${{producto.Precio | number:'1.2-2'}}</h1>
      </div>
      <div class="row">
        <strong><h5 id="datosLibro" >Autor: </h5></strong> <h5 id="libroInfo"> {{producto.Propiedad2}}</h5>
      </div>
      <div class="row">
        <strong><h5 id="datosLibro" >EDITORIAL: </h5></strong> <h5 id="libroInfo"> {{producto.Propiedad4}}</h5>
      </div>
      <div class="row">
        <strong><h5 id="datosLibro" >ISBN: </h5></strong>        <h5 id="libroInfo"> {{producto.IdProducto}}</h5>

      </div>
      <div class="row">
        <strong><h5 id="datosLibro" >NO.PAGINAS: </h5></strong>   <h5 id="libroInfo"> {{producto.NumPag}}</h5>
      </div>
      <div class="row">
        <strong><h5 id="datosLibro" >ENCUADERNACION: </h5></strong>  <h5 id="libroInfo"> {{producto.Propiedad1}}</h5>
      </div>
      <hr/>
      <ng-container *ngIf="disponible; else elseTemplate">
        <div class="container">
          <label for="inputCant">Cantidad</label>
         <div class="row justify-content-center">
             <div class="control">
               <button (click)="disminuirCantidad()" id="botonMenos" class="btn-decrease"><i id="simboloCant" class="fa fa-minus" aria-hidden="false"></i></button>
               <input  type="text" name="inputCant" id="inputCant" maxlength="12" class="input-text" placeholder="{{Cantidad}}" readonly style="width:100px;">
               <button (click)="aumentarCantidad()" id="botonMenos"class="btn-increase"><i id="simboloCant" class="fa fa-plus" aria-hidden="false"></i></button>
             </div>
         </div>
       </div>
       <hr/>
        <div class="row">
          <div class="col-6 col-md-6 col-sm-6">
            <img fallimg class="my-auto ml-3" style="cursor: pointer;"   id="imagencarrito" src="assets/botonComprar.png" (click)="navegarCompra(producto.IdProducto)" width="155px"/>
         </div>
          <div class="col-6 col-md-6 col-sm-6">
            <img fallimg class="mt-1" style="cursor: pointer;" (click)="anadirAlCarrito(producto.IdProducto)" data-toggle="modal" data-target="#exampleModal" id="imagencarrito" src="assets/anadirCarrito.png" width="155px"/>
          </div>
          </div>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="d-flex justify-content-center align-items-center" id="main">
          <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Lo sentimos</h1>
          <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">No disponible por el momento.</h2>
          </div>
      </div>
      </ng-template>
      <hr/>
      <div class="row">
        <h2 id="descripcion">Lo que tienes que saber de este producto</h2>
      </div>
      <div class="row">
        <p style="font-weight: 300; color:gray; text-align: justify;" [innerHTML]="producto.Descripcion"></p>
      </div>
  </div>
  </div>
  </div>
</div>




