
button
{
  margin-right: 20px;
}

div.noticia {
   
 
   color:black;
   padding: 15px;
 }
 
 div.noticia img.izquierda {
   float: left;
   margin-right: 25px;
   margin-left: 50px;
 }
 .Descripcion{
  text-align: justify;
   font-family: sans-serif;
   font-size: medium;
   font-weight: 300;
 }
 div.reset {
   clear: both;
 }

 .card-inner{
   margin-left: 4rem;
}