<div class="noticia" *ngFor = "let producto of productos">
    <img class="izquierda mb-5" src="{{producto.imagen}}" width="350" height="450"> 
     <aside><h3>{{producto.nombre}}</h3>
        <br>
        <br>

        <button type="button" class="btn btn-warning">Comprar</button> <button type="button" class="btn btn-warning ml-3">Cantidad</button> <button type="button" class="btn btn-warning ml-3">Agregar al carrito</button>
        <br>
        <br>
        <p>{{producto.descripcion}}</p>    
    </aside>
    <div class="reset"></div>    
</div>




<div class="container text-center mt-5 mb-5" style="background-color: white;">
    <h5 style = "color: black; text-align: left;">Articulos recientes</h5>
    <div style = "width: 100%; height: 1px; background-color: #b1b1b1;"></div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2 mt-2">
          <img class="imgr" src="https://png.pngtree.com/png_detail/20181017/violin-png-clipart_1262753.png" style = "width: 150px; height: 200px">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 mt-2">
          <img class="imgr" src="https://i.ebayimg.com/images/g/XqgAAOSwGhtbnZXr/s-l300.png" style = "width: 150px; height: 200px">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 mt-2">
          <img class="imgr" src="https://www.elsotano.com/imagenes_grandes/9786070/978607073620.JPG" style = "width: 150px; height: 200px">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 mt-2">
          <img class="imgr" src="https://upload.wikimedia.org/wikipedia/en/1/14/J_Balvin_Energia.jpg" style = "width: 150px; height: 200px">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 mt-2">
          <img class="imgr" src="https://prodimage.images-bn.com/pimages/9780545162074_p0_v2_s1200x630.jpg" style = "width: 150px; height: 200px">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 mt-2">
          <img class="imgr" src="https://i.ya-webdesign.com/images/imagenes-de-bocinas-png-18.png" style = "width: 150px; height: 200px">
      </div>
    </div>
  </div> 


