.carousel-control-next, .carousel-control-prev{
	width: 1% !important;
}
button
{
  margin-right: 20px;
}
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }

   .carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
.carousel-control-prev-icon
{
	
	
	position: absolute;
	background-color:#fff;
	height: 100px;
	line-height: 100px;
	width: 30px;
	text-align: center;
	box-shadow: 0 1px 3px #888;
	left: 0px;
	clip: rect(-10px,55px,110px,0);
	padding-right: 5px;
	border-radius: 0 3px 3px 0;
	
	
}

.carousel-control-next-icon
{
	position: absolute;
	background-color: #fff;
	height: 100px;
	line-height: 100px;
	width:30px;
	text-align: center;
	box-shadow: 0 1px 3px #888;
	right: 0px;
	clip: rect(-10px,55px,110px,0);
	padding-right: 5px;
	border-radius: 0 3px 3px 0;

	

}


div.noticia {
   
 
   color:black;
   padding: 15px;
 }
 
 div.noticia img.izquierda {
   float: left;
   margin-right: 25px;
   margin-left: 50px;
 }
 .Descripcion{
  text-align: justify;
   font-family: sans-serif;
   font-size: medium;
   font-weight: 300;
 }
 div.reset {
   clear: both;
 }

 .card-inner{
   margin-left: 4rem;
}



@media only  screen and (max-width:400px)
{
	.izquierda
	{
	  width: 250px;
	  height: 350px;
	  overflow: hidden;
	}

} 

.galeria {
	height: calc( 300px + 3em);
	width: 260px;
	margin:1em auto;
	border: 1px solid #555;
	position: relative;  
  }
  
  .galeria img {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 3s;
  }
  
  .galeria input[type=radio] {
	position: relative;
	bottom: calc(-300px - 1.5em);
	left: .5em;
  }
  
  .galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
	opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
	opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
	opacity: 1;
  }
  
  .galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
	opacity: 1;
  }