<div class="row">
<div class="col-md-4">
    <div class="col-md-6">
         <h4>Metodos de pago</h4>
    
        <div class="funkyradio">
            <div class="funkyradio-default">
                <input type="radio" name="radio" id="radio1" />
                <label for="radio1"> Paypal</label>
            </div>
            <div class="funkyradio-primary">
                <input type="radio" name="radio" id="radio2" checked/>
                <label for="radio2">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio3" />
                <label for="radio3">Third Option success</label>
            </div>
            <div class="funkyradio-danger">
                <input type="radio" name="radio" id="radio4" />
                <label for="radio4">Fourth Option danger</label>
            </div>
            <div class="funkyradio-warning">
                <input type="radio" name="radio" id="radio5" />
                <label for="radio5">Fifth Option warning</label>
            </div>
            <div class="funkyradio-info">
                <input type="radio" name="radio" id="radio6" />
                <label for="radio6">Sixth Option info</label>
            </div>
        </div>
    </div>
    </div>
    <div id="payment-box">
        <h4 class="txt-title">A6900 MirrorLess Camera</h4>
        <div class="txt-price">$289.61</div>
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr"
            method="post" target="_top">
            <input type='hidden' name='business' value='sb-aevxm2326720@business.example.com'> 
            <input type='hidden'name='item_name' value='Camera'> 
            <input type='hidden' name='item_number' value='CAM#N1'> 
            <input type='hidden' name='amount' value='10'>
            <input type='hidden'name='no_shipping' value='1'>
            <input type='hidden' name='currency_code' value='MXN'> 
            <input type='hidden' name='notify_url'
                value='http://emdpublicidad.com/tiendatalamas/archivos/PaypalPayment/notify.php'>
            <input type='hidden' name='cancel_return'
                value='http://emdpublicidad.com/tiendatalamas/archivos/PaypalPayment/cancel.php'>
            <input type='hidden' name='return'
                value='http://emdpublicidad.com/tiendatalamas/archivos/PaypalPayment/return.php'>
            <input type="hidden" name="cmd" value="_xclick"> <input
                type="submit" name="pay_now" id="pay_now"
                Value="Pay Now">
        </form>
    </div>
</div>