<div class="container section" style="color: black;">
    <div class="row">
        <div class="col-md-6">
            <h3>
                Historia Tienda Talamas
            </h3>
            <p style="text-align: justify;">
             Desde 1962, en la ciudad de Nuevo Laredo (México), la familia Talamás inicio la aventura de vender Música… en aquel tiempo lo más vendido eran los Discos de Vinilo, posteriormente casetes, CD’s, DVD… año tras año lograron ser pioneros en las tendencias del mercado.
             <br>
             <br>
            Tras el paso de los años fueron incorporando nuevos departamentos como Librería, Papelería, Regalos y Centro de Copiado.
             <br>
             <br>
            Conforme la demanda lo requería fueron abriendo sucursales en diferentes sectores de la ciudad. En este año, el 2020, a pesar de ser uno de los años más difíciles que nos ha tocado vivir, motivados a superar cualquier adversidad iniciamos un nuevo concepto en TiendaTalamás.com dando el gran paso a la era digital, ofreciendo no sólo nuestros productos, si no también dando oportunidad a marcas locales a utilizar nuestra plataforma y nuestros puntos de venta para ofrecer sus productos.
            </p>
        </div>
        <div class="col-md-6">
            <img src="assets/talamashis.jpeg"/>
        </div>
    </div>
</div>