<div class="container" style="color: black;">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                AYUDA Y CONTACTO
            </h3>
            <p class="text-justify" style="padding-right:50px; padding-left:50px;">
                Si tiene alguna duda, pregunta de su pedido o nuestro sitio web, favor de enviarnos un correo electrónico a la siguiente dirección:
                <br>
                AtencionCliente@tiendatalamas.com
                <br>
                <br>
                O favor de contactarnos en:
              <br>
              TIENDA TALAMAS, S.A. DE C.V
              <br>
              Dirección: Guerrero
              <br>
              Colonia: Centro
              <br>
              Ciudad: Nuevo Laredo, Tamaulipas
              <br>
              Pais: Mexico
              <br>
              Telefono: 8671547889
            </p>
            <img class="d-block mx-auto" src="assets/bolsa.png" width="100px" height="100px">
        </div>
    </div>
  </div>
  