<div class="row">
    <div class="col-sm-12 col-md-4 mt-1" style="cursor: pointer;">
        <div id="tarjeta" class="container">
            <strong>
           <div>Brandon Moreno</div>
           <div>Washington 5161</div>
           <div>Monterrey, col. Matamoros</div>
           <div>Nuevo Laredo Tamaulipas, 88210</div>
           </strong>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 mt-1" style="cursor: pointer;">
        <div id="tarjeta" class="container">
            <strong>
           <div>Brandon Moreno</div>
           <div>Washington 5161</div>
           <div>Monterrey, col. Matamoros</div>
           <div>Nuevo Laredo Tamaulipas, 88210</div>
           </strong>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 mt-1" style="cursor: pointer;">
        <div id="tarjeta" class="container">
            <strong>
           <div>Brandon Moreno</div>
           <div>Washington 5161</div>
           <div>Monterrey, col. Matamoros</div>
           <div>Nuevo Laredo Tamaulipas, 88210</div>
           </strong>
        </div>
    </div>
</div>

