<ng-container *ngIf="RespuestaBoton==false; else cambio">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="https://scocre.com/assets/img/forgot.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-9" style="padding-top:100px">
            <h2 class="font-weight-light">¿Olvidaste tu contraseña?</h2>
            Por motivos de seguridad por favor introduce el correo con el que te registraste para asegurarnos de que eres tu.
            <form target="_blank" action="https://www.samacharvideo.com" class="mt-3">
                <input class="form-control form-control-lg" type="email" placeholder="Tu direccion de correo Electronico">
                <!---
                <div *ngIf="respuestaDeAlert!='Hola'" class="alert alert-danger" role="alert">
                    Correo incorrecto
                    <button class="close" type="button" (click)="cerrarAlert()"><span aria-hidden="true">&times;</span></button>
                  </div>-->
                <div class="text-right my-3">
                    <button type="submit" (click)="CambioDeTexto()" class="btn btn-lg btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</ng-container>   

<!--AQUI ES EL CODIGO DEL MODAL-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="color: black;">TIENDA TALAMAS</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a style="color: black;">Te hemos enviado un correo al correo electronico que registraste, para restablecer tu contraseña sigue las instrucciones de dicho correo</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"style="background-color:#81b214; border-color:#81b214;" >Entendido</button>

<ng-template #cambio id="pc">
     <div class="col-sm-12 col-md-12 col-lg-12">
     <div class="container mt-5 mb-5" id="contenedor">
     <h3>Correo verificado</h3>
     <h5 class="mb-3 mt-3" style="text-align:left;">Te hemos enviado un correo con tu codigo de recuperacion de contraseña, ahi se encuentran las instrucciones a seguir para recuperar tu cuenta</h5>
     <form>
        <div class="form-group">
            <input type="text" class="form-control" maxlength="8" placeholder="Codigo de seguridad" value="" />
        </div>
        <div *ngIf="RespuestaAlert==true" class="alert alert-danger" role="alert">
          Codigo Incorrecto
          <button class="close" type="button" (click)="CerrarAlert()"><span aria-hidden="true">&times;</span></button>
          </div>
        <div class="form-group" style="text-align: right;">
            <button class="btn btn-primary" (click)="PruebaAlert()">Confirmar</button>
        </div>
     </form>
     </div>
    </div>
</ng-template>
 






