*
{
    font-family: 'Lato', sans-serif;
}
body{
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.modal-backdrop.fade {
    opacity: 0;
    z-index: -1;
}

.cursorMano
{
  cursor: pointer;
}

.simplescrollup__button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    transition: 1s all;
    z-index: 10000;
  }
  .simplescrollup__button--show {
    transform: translateX(0);
  }
  .simplescrollup__button--hide {
    transform: translateX(1px);
  }