*
{
    font-family: 'Lato', sans-serif;
}
body{
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.modal-backdrop.fade {
    opacity: 0;
    z-index: -1;
}

.cursorMano
{
  cursor: pointer;
}